
<!DOCTYPE html>
<html lang="en-us" >
<head>
<title> coa_group_detail | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "19800";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body class=" app-journal_mgmt model-coa_group change-form">

<!-- Container -->
<div id="container">

    <!-- Content -->
    <div id="content" class="colM">
        <h1>Coa_group_detail</h1>
        <div id="content-main">
  <ul class="object-tools">
    <li>
        <a href="/admin/journal_mgmt/coa_group/23/history/" class="historylink">History</a>
    </li>
  </ul>

<form enctype="multipart/form-data" action="{% url 'journal_mgmt:auto_pl_sup_save' data.auto_pl.id %}" method="post" id="coa_group_form" novalidate>
<!--<form enctype="multipart/form-data" action="{% url 'journal_mgmt:test_response' %}" method="post" id="coa_group_form" novalidate>-->
<input type='hidden' name='csrfmiddlewaretoken' value='9cKGBV5JDqNhoFw1smDgRw99CGglyEt9' />
{% csrf_token %}
<div>
	<fieldset class="module aligned ">
        <div class="form-row field-auto_pl_id">
			<div>
				<label class="required" for="id_auto_pl_id">Auto PL ID</label>
				<input  class="vIntegerField" id="id_auto_pl_id" name="auto_pl_id" type="text" value={{data.auto_pl.id}} readonly />
			</div>
        </div>
        
        <div class="form-row field-auto_pl_name">
			<div>
               <label class="required" for="id_auto_pl_name">Auto PL Name</label>
               <input  class="vTextField" id="id_auto_pl_name" style="width:50%" maxlength="200" name="auto_pl_name" type="text" value="{{data.auto_pl.name}}" readonly />
			</div>
        </div>
		
		<div class="form-row field-type">
			<div>
               <label class="required" for="id_type">Supplier Type</label>
               <input  class="vTextField" id="id_type" maxlength="200" name="type" type="text" value={{data.type}} readonly />
			</div>
        </div>
		<div class="form-row field-parent_coa_group">
            <div>
				<label class="required" for="id_supplier">Supplier</label>
				<select id="id_supplier" name="supplier">
				{% for cur_sup in data.supplier_opt %}
					<option value="{{ cur_sup.id }}" selected="selected">{{ cur_sup.name }}</option>
				{% endfor %}
				</select>
			</div>
        </div>
	</fieldset>

<div class="submit-row">
<input type="submit" value="Save" class="default" name="_save" />
<p class="deletelink-box"><a href="/admin/journal_mgmt/coa_group/23/delete/" class="deletelink">Delete</a></p>
<input type="submit" value="Save and add another" name="_addanother" />
<input type="submit" value="Save and continue editing" name="_continue" />
</div>

<script type="text/javascript">
(function($) {
    var field;
})(django.jQuery);
</script>

</div>
</form>
</div><br class="clear" /></div>
<!-- END Content -->
<div id="footer"></div>
</div>
<!-- END Container -->
</body>
</html>
