{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "19800";</script>

<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>



<meta name="robots" content="NONE,NOARCHIVE" />
</head>

{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}


<body class=" journal_mgmt model-coa change-form">


{% block breadcrumbs %}
{% if not is_popup %}

<div class="breadcrumbs">
	<a href="/admin/">Home</a>
	&rsaquo; <a href="/journal_mgmt/">Journal_Mgmt</a>
	&rsaquo; <a href="/journal_mgmt/coa/index/coa_group_id={{data.coa_group.0.id}}">{{data.coa_group.0.name}}</a>
	&rsaquo; Add {{ data.coa_group.0.name }}
</div>

{% endif %}
{% endblock %}

{% block content %}
<div id="content" class="colM">
	{% for cur_remark in data.remarks %}
    <h2>{{ cur_remark }}</h2>
	{% endfor %}
	<!--<div>
		{{data}}
	</div>-->
	<div id="content-main">
		<input type="button" value="Yes" name="_continue" onclick="location.href='{{ data.yes_url }}'"/>
		<input type="button" value="No" name="_continue" onclick="location.href='{{ data.no_url }}'"/>
	</div>
	<br class="clear" />
</div>
    <!-- END Content -->
<div id="footer"></div>
</div>
<!-- END Container -->
{% endblock %}
</body>