{% extends "admin/change_form_custom.html" %}
<!DOCTYPE html>
<html lang="en-us" >
<head>
<title> Auto PL Matrix </title>

<meta name="robots" content="NONE,NOARCHIVE" />
<script type="text/javascript">
	function show_hide(panel_id, link_id) {
	   var panel = document.getElementById(panel_id);
	   var link = document.getElementById(link_id);
	   
	   if (link.innerHTML == 'Show'){
	   	link.innerHTML = 'Hide'
	   	panel.className = "module aligned collapse"
	   }
	   else if (link.innerHTML == 'Hide') {
   		link.innerHTML = 'Show'
	   	panel.className = "module aligned collapse collapsed"
	   }
	   }
</script>
</head>


<body class=" journal_mgmt model-coa change-form">
{% block breadcrumbs %}
{% if not is_popup %}
	<div class="margin10" style="float: left; height:7x; width:100%">
       	<ul class="breadcrumbs-custom">
           <li><a href="/journal_mgmt/"><span class="icon mif-home"></span></a></li>
			<li>Add {{ data.transaction_type.0.name }}</li>
           </ul>
     </div>
	<br>
{% endif %}
{% endblock %}
{% block content %}
<script type="text/javascript">
	function show_hide(panel_id, link_id) {
	   var panel = document.getElementById(panel_id);
	   var link = document.getElementById(link_id);
	   
	   if (link.innerHTML == 'Show'){
	   	link.innerHTML = 'Hide'
	   	panel.className = "module aligned collapse"
	   }
	   else if (link.innerHTML == 'Hide') {
   		link.innerHTML = 'Show'
	   	panel.className = "module aligned collapse collapsed"
	   }
   }
</script>

<script>
function confirmation() {
    confirm("Press a button!");
}
</script>

<div id="content" class="colM">
    <h1>Auto Pl Object Auto Fill</h1>
	
	<!------------------------------------<div>
		{{data}}
	</div>-------------------------------------->
	
	<fieldset class="module aligned ">
	<div id="content-main">
		{% load custom_temp_tags %}
        <form enctype="multipart/form-data" action="{% url 'journal_mgmt:crm_auto_pl_mgmt' %}" method="post" id="coa_form" novalidate>
        <input type='hidden' name='csrfmiddlewaretoken' value='ehAo1ovx9UUGPQ0UxcAyB9gb9NCPwEsJ'/>
        {% csrf_token %}
        <!------------------------------------ Form for filtering Main Pricelist Dropbox -------------------------------------->
    	<div class="form-row field-name">
       		<div style="float:left">
	    		<label class="required" for="id_unique_id">Auto Pl Obj:</label>
	        	<select id ="id_unique_id" name="unique_id" onchange="submit()">
		         	<option value="*select*" {% if data.sel_unique_id == '*select*' %} selected {% endif %} >*select*</option>
                    {% for cur_unique in data.unique_opt %}
              			<option value="{{ cur_unique.id }}" {% if data.sel_unique_id == cur_unique.id %} selected {% endif %}>{{ cur_unique.name }}</option>
              		{% endfor %}
          		</select>
        	</div>
        	<div style="float:left">
       			<label class="required"> &nbsp Name filter:</label>
       			<input list="pl_name_filter" name="searched_str" value="{{ data.searched_str }}" onchange="submit()">
					<datalist id="pl_name_filter">
						{% for cur_auto_pl in data.auto_pl_name_opt %}
					    <option value="{{ cur_auto_pl.name }}">
					    {% endfor %}
				 	</datalist>
			</div>
			<input hidden type="text" name="bom_searched_str" value="{{ data.bom_searched_str }}"></input>
			<input hidden type="text" name="bom_sel_pl_id" value="{{ data.bom_sel_pl_id }}"></input>
			<input hidden type="text" name="bom_unique_id" value="{{ data.bom_sel_unique_id }}"></input>
       		<div style="float:left; margin-left:2%"><input type="submit" class="command-button button primary" name="pl_filter" value="pl_filter" onclick="submit()"></input></div>
        </div>
        </form>
        <form enctype="multipart/form-data" action="{% url 'journal_mgmt:crm_auto_pl_mgmt' %}" method="post" id="coa_form" novalidate>
        <input type='hidden' name='csrfmiddlewaretoken' value='ehAo1ovx9UUGPQ0UxcAyB9gb9NCPwEsJ'/>
        {% csrf_token %}
	        <input hidden type="text" name="unique_id" value="{{ data.sel_unique_id }}"></input>
	        <input hidden type="text" name="searched_str" value="{{ data.searched_str }}"></input>
	        <input hidden type="text" name="bom_searched_str" value="{{ data.bom_searched_str }}"></input>
			<input hidden type="text" name="bom_sel_pl_id" value="{{ data.bom_sel_pl_id }}"></input>
			<input hidden type="text" name="bom_unique_id" value="{{ data.bom_sel_unique_id }}"></input>
	        <div class="form-row field-name">
	       		<div  class="form-row field-name">
	       			<div style="float:left">
		    		<label class="required" for="id_auto_pl_opt">Auto Pl Opt:</label>
		        	<select id ="id_sel_pl_id" name="sel_pl_id" onchange="submit()">
			         	<option value="*select*" {% if data.sel_pl_id == '*select*' %} selected {% endif %}>*select*</option>
	                     {% for cur_auto_pl in data.auto_pl_opt %}
	              			<option value="{{ cur_auto_pl.id }}" {% if data.sel_pl_id == cur_auto_pl.id %} selected {% endif %}>{{ cur_auto_pl.name }}</option>
	              		{% endfor %}
	          		</select>
	          		</div>
	          		<div style="float:left; margin-left:2%">
	          			<input type="submit" class="command-button button primary" name="refresh" value="Refresh" onclick="submit()"></input>
	          		</div>
	          		<div style="float:left; margin-left:2%">
	          			<label class="required" for="id_auto_pl_opt">Unique ID : {{ data.sel_unique_id }}</label>
	          		</div>
	        	</div>
	       		{% if not data.sel_pl_id == '*select*' %}
	       		<div class="form-row field-name">
	       			<div style="float:left">
		          		<label class="required" for="id_change_rm">Change RM:</label>
		          		<input type="checkbox" name="change_rm" value="{{ data.change_rm }}" onchange="submit()"></input>
	          		</div>
	          		<div style="float:left; margin-left:10%">
		          		<label class="required" for="id_change_rm">CRM Part No.:</label>
		          		{{ data.crm_part_no }}
	          		</div>
	          		<div style="float:left; margin-left:5%">
		          		<label class="required" for="id_change_rm">Unique Group:</label>
		          		{{ data.sel_pl_unique.name }}
	          		</div>
	          		<div style="float:left; margin-left:5%">
		          		<label class="required" for="id_price_dep_arr">Price Dep Array:</label>
		          		{{ data.sel_pl_unique.finish_format }}
	          		</div>
	          		<div style="float:left; margin-left:5%">
		          		<label class="required" for="id_unique_type">Unique Type:</label>
		          		{% if data.sel_pl_unique.imaginary == "1" %}
		          			Imaginary
		          		{% elif data.sel_pl_unique.custom == "1" %}
		          			Custom
		          		{% else %}
		          			Undefined
		          		{% endif %}
	          		</div>
	        	</div>
	         	{% endif %}
	         	</div>
         </form>
         		
	        <form enctype="multipart/form-data" action="{% url 'journal_mgmt:crm_auto_pl_mgmt' %}" method="post" id="coa_form" novalidate>
		        <input type='hidden' name='csrfmiddlewaretoken' value='ehAo1ovx9UUGPQ0UxcAyB9gb9NCPwEsJ'/>
		        {% csrf_token %}
	        	<div style="float:left" hidden>
			        <input hidden id ="id_unique_id" name="unique_id" value="{{ data.sel_unique_id }}">BC</input>
			        <input hidden id ="id_sel_pl_id" name="sel_pl_id" value="{{ data.sel_pl_id }}"></input>
			        <input hidden type="text" name="searched_str" value="{{ data.searched_str }}"></input>
			        <input hidden type="text" name="bom_searched_str" value="{{ data.bom_searched_str }}"></input>
		  			<input hidden type="text" name="bom_sel_pl_id" value="{{ data.bom_sel_pl_id }}"></input>
		  			<input hidden type="text" name="bom_unique_id" value="{{ data.bom_sel_unique_id }}"></input>
			    </div>
		        {% if not data.sel_pl_id == '*select*' %}
		        	<input type="submit" class="command-button button primary" onclick="confirmation();submit()" name="delete" value="Delete"/>
		        {% endif %}
		    </form>
		</div>
        {% if data.sel_pl == True or data.allow_pl_create == True %}
   		<!------------------------------------ Form for Updating Pricelist -------------------------------------->
   		<fieldset id = "show_hide_panel2" class="module aligned collapse collapsed">
   		<h2>PL Create/Modify (<a id="switch_link2" class="collapse-toggle" href="#" onclick="show_hide('show_hide_panel2', 'switch_link2')">Show</a>)</h2>
   		<form enctype="multipart/form-data" action="{% url 'journal_mgmt:crm_auto_pl_mgmt' %}" method="post" id="pl_update_form" novalidate>
	        <input type='hidden' name='csrfmiddlewaretoken' value='ehAo1ovx9UUGPQ0UxcAyB9gb9NCPwEsJ'/>
	        {% csrf_token %}
        	<input hidden type="text" name="searched_str" value="{{ data.searched_str }}"></input>
 			<input hidden type="text" name="sel_pl_id" value="{{ data.sel_pl_id }}"></input>
 			<input hidden type="text" name="unique_id" value="{{ data.sel_unique_id }}"></input>
 			<input hidden type="text" name="bom_searched_str" value="{{ data.bom_searched_str }}"></input>
  			<input hidden type="text" name="bom_sel_pl_id" value="{{ data.bom_sel_pl_id }}"></input>
  			<input hidden type="text" name="bom_unique_id" value="{{ data.bom_sel_unique_id }}"></input>
 			
        	
  				<div class="form-row field-xyz">
  				{% if data.allow_pl_create %}
  					{% for cur_key in data.lookup_data.param_order %}
   				{% with data.lookup_data.param_detail|get_element:cur_key as cur_param_detail %}
   					<div style="float:left; width:20%">
    					<div><b>{{ cur_param_detail.disp_name }}:</b></div>
    					<div>
    					<select id ="id_{{ cur_key }}" name="{{ cur_key }}">
    					{% if cur_param_detail.opt|length > 0 %}
	    					{% for cur_lookup_opt in cur_param_detail.opt %}
		    					{% with data.sel_pl|get_element:cur_param_detail.pl_col_name as cur_sel_lookup %}
	    						<option value="{{ cur_lookup_opt.val }}" {% if cur_lookup_opt.val == cur_sel_lookup %}selected{% endif %}>
	    							{% if cur_lookup_opt.name %} {{ cur_lookup_opt.name }} {% else %} {{ cur_lookup_opt.val }} {% endif %}
	    						</option>
		    					{% endwith %}
	    					{% endfor %}
	    				{% else %}
	    					<option value="0">-</option>
    					{% endif %}
    					</select>
    					</div>
    				</div>
    			{% endwith %}
   				{% endfor %}
  				{% endif %}
  				</div>
  				<div class="form-row field-xyz">
  					<div style="float:left; width:33%">
   					<div><b>Basic Calculation:</b></div>
   					<div>
   					<input id="calculation" style="width:95%" type="text" name="calculation" value="{{ data.sel_pl.calculation }}"></input>
   					</div>
  					</div>
  					<div style="float:left; width:33%">
   					<div><b>OLD BOM Calculation:</b></div>
   					<div>
   					<input id="calculation_bom"  style="width:95%"type="text" name="calculation_bom" value="{{ data.sel_pl.calculation_bom }}"></input>
   					</div>
   				</div>
   				<div style="float:left; width:33%">
   					<div><b>Input Calc:</b></div>
   					<div>
   					<input id="input_calc" type="text" style="width:95%" name="input_calc" value="{{ data.sel_pl.input_calc }}"></input>
   					</div>
   				</div>
  				</div>
  				<div class="form-row field-xyz">
  					<div style="float:left; width:70%">
   					<div style="float:left; width:25%">
    					<label class="required" for="id_margin">Margin</label>
    					<input id="sale_margin" type="number" name="sale_margin" value="{{ data.sel_pl.sale_margin|stringformat:".2f" }}"></input>
   					</div>
   					<div style="float:left; width:25%">
    					<label class="required" for="id_price">Rate (C)</label>
    					<input id="price" type="number" name="price" value="{{ data.sel_pl.price|stringformat:".2f" }}"></input>
   					</div>
   					<div style="float:left; width:25%">
    					<label class="required" for="id_units">Units</label>
    					<input id="id_units" type="text" name="units" value="{{ data.sel_pl.units }}"></input>
   					</div>
   					<div style="float:left; width:25%">
    					<label class="required" for="id_department">Department</label>
    					<select id ="id_department" name="department">
				         	{% for cur_department in data.department_opt %}
		              			<option value="{{ cur_department.id }}" {% if data.sel_pl.department_id == cur_department.id %} selected {% endif %}>{{ cur_department.name }}</option>
		              		{% endfor %}
		          		</select>
   					</div>
   				</div>
  					
  				</div>
  				
  				<div class="form-row field-xyz">
  					<div style="float:left; width:40%">
   					<div style="width:100%">
   						<div style="float:left; width:50%">
			          		<label class="required" for="id_imaginary">Imaginary Item:</label>
			          		<input type="checkbox" name="imaginary_item" {% if data.sel_pl.imaginary_item == True%} checked {% endif %}"></input>
		          		</div>
		          		<div style="float:left; width:50%">
			          		<label class="required" for="id_update_unique">Update Unique:</label>
			          		<input type="checkbox" name="update_unique"></input>
		          		</div>
   					</div>
   					<div style="width:100%">
   						{% if data.sel_pl %}
    					<input type="submit" class="command-button button primary" name="update" value="Update PL" onclick="submit()"></input>
  						<input type="submit" class="command-button button primary" name="copy_and_create" value="Copy & Create PL" onclick="submit()"></input>
    					{% else %}
    					<input type="submit" class="command-button button primary" name="create" value="Create PL" onclick="submit()"></input>
    					{% endif %}
    				</div>
  					</div>
  					{% if data.sel_unique_row.custom == "1" %}
  					<div style="float:left; width:60%">
  						<div style="width:100%">
	   					<input list="s3_opt" name="new_s3_str" value="" style="width:100%" >
						<datalist id="s3_opt">
							{% for cur_opt in data.lookup_data.param_detail.s3.opt %}
						    <option value="{{ cur_opt.name }}">
						    {% endfor %}
					 	</datalist>
				 	</div>
				 	<div style="width:100%">
			    		<input type="submit" class="command-button button primary" name="new_s3_opt" value="New S3 OPT"/>
			    		<input type="submit" class="command-button button primary" name="update_s3_opt" value="Update S3 OPT"/>
		    		</div>
  					</div>
  					{% endif %}
  				</div>
  				
  				<div class="form-row field-xyz">
  					{% for cur_intp in data.int_p20 %}
   					{% if cur_intp == 'p1' or cur_intp == 'p5' or cur_intp == 'p9' or cur_intp == 'p13'  or cur_intp == 'p17'%}
   					<div class="form-row field-xyz">
   					{% endif %}
	    				<div style="float:left; width:25%; text-align:center">
		    				<label class="required" for="id_p1">{{ cur_intp }}:</label>
	    					<select id ="id_{{ cur_intp }}" name="{{ cur_intp }}">
	    						{% if data.sel_pl %}
	    							{% for cur_rm_price in data.rm_price_opt %}
						        		{% if data.sel_pl|get_element:cur_intp == cur_rm_price.id or data.change_rm == True %}
					              			<option value="{{ cur_rm_price.id }}" {% if data.sel_pl|get_element:cur_intp == cur_rm_price.id %} selected {% endif %}>{{ cur_rm_price.name }} {% if not cur_rm_price.id == 1 %} ({{ cur_rm_price.value }} {{ cur_rm_price.definition }}) {% endif %}</option>
					              		{% endif %}
				              		{% endfor %}
	    						{% else %}
	    							{% for cur_rm_price in data.rm_price_opt %}
					        			<option value="{{ cur_rm_price.id }}" {% if cur_rm_price.id == 1 %} selected {% endif %}>{{ cur_rm_price.name }}{% if not cur_rm_price.id == 1 %} ({{ cur_rm_price.value }} {{ cur_rm_price.definition }}) {% endif %}</option>
					        		{% endfor %}
			              		{% endif %}
			              	</select>
		           		</div>
	           		{% if cur_intp == 'p4' or cur_intp == 'p8' or cur_intp == 'p12' or cur_intp == 'p16'  or cur_intp == 'p20' %}
	           		</div>
	           		{% endif %}
           		{% endfor %}
        	</div>
        </form>
		</fieldset>
		
		<fieldset id = "show_hide_panel3" class="module aligned collapse collapsed">
			<h2>Bulk Update (<a id="switch_link3" class="collapse-toggle" href="#" onclick="show_hide('show_hide_panel3', 'switch_link3')">Show</a>)</h2>
			<div class="form-row field-xyz">
				<label class="required" for="id_margin">PRODUCTION BOM</label>
				<form enctype="multipart/form-data" action="{% url 'journal_mgmt:crm_auto_pl_mgmt' %}" method="post" id="pl_update_form" novalidate>
			        <input type='hidden' name='csrfmiddlewaretoken' value='ehAo1ovx9UUGPQ0UxcAyB9gb9NCPwEsJ'/>
			        {% csrf_token %}
			        <input hidden type="text" name="update_type" value="production_bom"></input>
			        <input hidden type="text" name="searched_str" value="{{ data.searched_str }}"></input>
		 			<input hidden type="text" name="unique_id" value="{{ data.sel_unique_id }}"></input>
			        <input hidden type="text" name="sel_pl_id" value="{{ data.sel_pl_id }}"></input>
			        <div style="float:left; margin-left:5%">
			        <label class="required" for="id_margin">PL ID List</label>
			       	<input type="text" name="auto_pl_id_list" value="{{ data.auto_pl_id_list }}"></input>
			       	</div>
					<div style="float:left; margin-left:5%">
						<label class="required" for="id_margin">BOM ID</label>
						<input type="number" name="bulk_bom_pl_id" value="{{ data.bulk_bom_id }}"></input>
					</div>
					<div style="float:left; margin-left:5%">
						<label class="required" for="id_margin">Derivative ID</label>
						<input type="number" name="bulk_derivative_id" value="{{ data.bulk_derivative_id }}"></input>
					</div>
					<div style="float:left; margin-left:5%">
						<input type="submit" class="command-button button primary" name="create_all" value="create all" onclick="submit()"></input>
						<input type="submit" class="command-button button primary" name="update_all" value="Update all" onclick="submit()"></input>
						<input type="submit" class="command-button button primary" name="delete_all" value="delete all" onclick="submit()"></input>
					</div>
	 			</form>
 			</div>
 			<div class="form-row field-xyz">
 				<label class="required" for="id_margin">FG BOM</label>
 				<form enctype="multipart/form-data" action="{% url 'journal_mgmt:crm_auto_pl_mgmt' %}" method="post" id="pl_update_form" novalidate>
			        <input type='hidden' name='csrfmiddlewaretoken' value='ehAo1ovx9UUGPQ0UxcAyB9gb9NCPwEsJ'/>
			        {% csrf_token %}
			        <input hidden type="text" name="update_type" value="fg_bom"></input>
			        <input hidden type="text" name="searched_str" value="{{ data.searched_str }}"></input>
		 			<input hidden type="text" name="unique_id" value="{{ data.sel_unique_id }}"></input>
			        <input hidden type="text" name="sel_pl_id" value="{{ data.sel_pl_id }}"></input>
			       	<div style="float:left; margin-left:5%">
			       	<input hidden type="text" name="auto_pl_id_list" value="{{ data.auto_pl_id_list }}"></input></div>
					<div style="float:left; margin-left:5%">
						<label class="required" for="id_margin">BOM ID</label>
						<input type="number" name="bulk_bom_pl_id" value="{{ data.bulk_bom_id }}"></input></div>
					<div style="float:left; margin-left:5%">
						<label class="required" for="id_margin">Derivative ID</label>
						<input type="number" name="bulk_derivative_id" value="{{ data.bulk_derivative_id }}"></input>
					</div>
					<div style="float:left; margin-left:5%">
						<input type="submit" class="command-button button primary" name="create_all" value="create all" onclick="submit()"></input>
						<input type="submit" class="command-button button primary" name="update_all" value="Update all" onclick="submit()"></input>
						<input type="submit" class="command-button button primary" name="delete_all" value="delete all" onclick="submit()"></input>
					</div>
 				</form>
 			</div>
		</fieldset>
        {% endif %}
        {% if data.sel_pl %}
        <fieldset id = "show_hide_panel3" class="module aligned collapse collapsed">
			<h2>Parents (<a id="switch_link3" class="collapse-toggle" href="#" onclick="show_hide('show_hide_panel3', 'switch_link3')">Show</a>)</h2>
			<div class="form-row field-xyz">
			<table>
	        <thead>
	        	<th>ID</th>
	        	<th>Name</th>
	        	<th>GO</th>
	        </thead>
	        <tbody>
	        	{% for cur_parent_row in data.parent_list %}
	        	{% cycle 'row1' 'row2' as rowcolors silent %}
				<tr class="{{ rowcolors }}">
					<td>{{ cur_parent_row.id }}</td>
					<td>{{ cur_parent_row.name }}</td>
					<td><a href="{% url 'journal_mgmt:crm_auto_pl_mgmt' %}?parent_pl_id={{ cur_parent_row.id }}" class="add-another" />
						<b>Parent</b></td>
				</tr>
				{% endfor %}
			</tbody>
			</table>
  			</div>
 		</fieldset>
		<fieldset class="module aligned collapse">
        <div>
		   	<!------------------------------------ Form for Filtering BOM PL selection dropbox ------------------------------------>
		   	<form enctype="multipart/form-data" action="{% url 'journal_mgmt:crm_auto_pl_mgmt' %}" method="post" id="bom_pl_filter" novalidate>
	        <input type='hidden' name='csrfmiddlewaretoken' value='ehAo1ovx9UUGPQ0UxcAyB9gb9NCPwEsJ'/>
	        {% csrf_token %}
	        <input hidden type="text" name="searched_str" value="{{ data.searched_str }}"></input>
  			<input hidden type="text" name="sel_pl_id" value="{{ data.sel_pl_id }}"></input>
  			<input hidden type="text" name="unique_id" value="{{ data.sel_unique_id }}"></input>
  			<input hidden type="checkbox" name="change_rm" value="{{ data.change_rm }}"></input>
        	<div class="form-row field-name">
    			<div class="form-row field-xyz">
	        		<div style="float:left; margin-left:2%">
			    		<label class="required" for="id_unique_id">BOM Unique:</label>
			        	<select id ="id_bom_unique_id" name="bom_unique_id" onchange="submit()">
				         	<option value="*select*" {% if data.sel_unique_id == '*select*' %} selected {% endif %} >*select*</option>
		                    {% for cur_unique in data.unique_opt %}
		              			<option value="{{ cur_unique.id }}" {% if data.bom_sel_unique_id == cur_unique.id %} selected {% endif %}>{{ cur_unique.name }}</option>
		              		{% endfor %}
	           			</select>
	           		</div>
	           		<div style="float:left; margin-left:2%">
	           			<label class="required"> &nbsp Name filter:</label>
           				<input list="bom_name_filter" name="bom_searched_str" value="{{ data.bom_searched_str }}" onchange="submit()">
						<datalist id="bom_name_filter">
							{% for cur_bom_auto_pl in data.bom_pl_name_opt %}
						    <option value="{{ cur_bom_auto_pl.name }}">
						    {% endfor %}
					 	</datalist>
					</div>
	           		
	           		<div style="float:left; margin-left:2%"><input type="button" class="command-button button primary" name="bom_filter" value="bom_filter" onclick="submit()"></input>
	           		</div>
	           	</div>
	           	<div class="form-row field-xyz">
	        		<div style="float:left">
			    		<label class="required" for="id_bom_auto_pl_opt">BOM Pl Obj:</label>
			        	<select id ="id_bom_sel_pl_id" name="bom_sel_pl_id" onchange="submit()">
				         	<option value="*select*" {% if data.bom_sel_pl_id == '*select*' %} selected {% endif %}>*select*</option>
		                     {% for cur_auto_pl in data.bom_auto_pl_opt %}
		              			<option value="{{ cur_auto_pl.id }}" {% if data.bom_sel_pl_id == cur_auto_pl.id %} selected {% endif %}>{{ cur_auto_pl.name }}</option>
		              		{% endfor %}
	           			</select>
	           		</div>
	           	</div>
	        </div>
       		</form>
      	</fieldset>
      	
		<fieldset class="module aligned collapse">
		       	<h4 style="text-align:center">PRODUCTION BOM</h4>
		        <table>
			        <thead>
			        	<th>ID</th>
			        	<th>Name</th>
			        	<th>D1</th>
			        	<th>D2</th>
			        	<th>D3</th>
			        	<th>D4</th>
			        	<th>Qty</th>
			        	<th>F1</th>
			        	<th>GO</th>
			        	<th>Derivative opt</th>
			        	<th>Update</th>
		        		<th>Delete</th>
		        		
				    </thead>
			        <tbody>
			        	{% for cur_bom_det in data.bom_det %}
			        	{% cycle 'row1' 'row2' as rowcolors silent %}
						<tr class="{{ rowcolors }}">
							<td>{{ cur_bom_det.bom_record.id }}</td>
				        	<td>{{ cur_bom_det.pl_record.name }} [{{ cur_bom_det.pl_record.id }}]</td>
				        	<td>{{ cur_bom_det.derivative_record.d1 }}</td>
				        	<td>{{ cur_bom_det.derivative_record.d2 }}</td>
				        	<td>{{ cur_bom_det.derivative_record.d3 }}</td>
				        	<td>{{ cur_bom_det.derivative_record.d4 }}</td>
				        	<td>{{ cur_bom_det.derivative_record.qty }}</td>
				        	<td>{{ cur_bom_det.derivative_record.f1 }}</td>
				        	<td><a href="{% url 'journal_mgmt:crm_auto_pl_mgmt' %}?parent_pl_id={{ cur_bom_det.bom_record.bom_id }}" class="add-another" />
								<img src="/static/admin/img/icon_changelink.gif" width="10" height="10" alt="GO"></a>
							</td>
							<!------------------------------------ Form for Updating bom -------------------------------------->
			        		<form enctype="multipart/form-data" action="{% url 'journal_mgmt:crm_bom_crud' 'update' 'bom' %}" method="post" id="fg_derivative" novalidate>
					        <input type='hidden' name='csrfmiddlewaretoken' value='ehAo1ovx9UUGPQ0UxcAyB9gb9NCPwEsJ'/>
					        {% csrf_token %}
					        <input hidden type="text" name="parent_pl_id" value="{{ data.sel_pl_id }}"></input>
					        <input hidden type="text" name="child_prim_key" value="{{ cur_bom_det.bom_record.id }}"></input>
					        <input hidden type="text" name="child_pl_id" value="{{ data.bom_sel_pl_id }}"></input>
							<td>
								<select id ="id_bom_{{cur_bom_det.bom_record.id}}" name="derivative_id">
						         	{% for cur_derivative in cur_bom_det.derivative_opt %}
				              			<option value="{{ cur_derivative.id }}" {% if cur_bom_det.bom_record.derivative_id == cur_derivative.id %} selected {% endif %}>{{ cur_derivative.name }} [{{ cur_derivative.id }}]</option>
				              		{% endfor %}
			           			</select>
			           			<input type="text" name=bom_id value="{{ cur_bom_det.bom_record.bom_id }}" hidden></input>
		           			</td>
							<td><input  class="command-button button primary" type=submit name="bom_update" value="BOM Update"></input></td>
							</form>
							<td>
							<!------------------------------------ Form for Deleting bom -------------------------------------->
							<form enctype="multipart/form-data" action="{% url 'journal_mgmt:crm_bom_crud' 'delete' 'bom' %}" method="post" id="fg_derivative" novalidate>
						        <input type='hidden' name='csrfmiddlewaretoken' value='ehAo1ovx9UUGPQ0UxcAyB9gb9NCPwEsJ'/>
						        {% csrf_token %}
						        <input hidden type="text" name="parent_pl_id" value="{{ cur_bom_det.bom_record.pl_id }}"></input>
						        <input hidden type="text" name="child_prim_key" value="{{ cur_bom_det.bom_record.id }}"></input>
						        <input hidden type="text" name="child_pl_id" value="{{ cur_bom_det.bom_record.bom_id }}"></input>
								<input class="command-button button primary" type=submit name="bom_delete" value="Delete"></input>
					        </form>
						</td>
						</tr>
						{% endfor %}
				        <tr><td></td><td>Add new</td></tr>
				        {% cycle 'row1' 'row2' as rowcolors silent %}
						<tr class="{{ rowcolors }}">
				        	<td>-</td>
				        	<td>{{ data.bom_sel_pl.name }}</td>
				        	<td>-</td>
				        	<td>-</td>
				        	<td>-</td>
				        	<td>-</td>
				        	<td>-</td>
				        	<td>-</td>
				        	<td><a href="{% url 'journal_mgmt:crm_auto_pl_mgmt' %}?parent_pl_id={{ data.bom_sel_pl_id }}" class="add-another" />
								<img src="/static/admin/img/icon_changelink.gif" width="10" height="10" alt="GO"></a>
							</td>
				        	<!------------------------------------ Form for Creating bom -------------------------------------->
							<form enctype="multipart/form-data" action="{% url 'journal_mgmt:crm_bom_crud' 'create' 'bom' %}" method="post" id="fg_derivative" novalidate>
					        <input type='hidden' name='csrfmiddlewaretoken' value='ehAo1ovx9UUGPQ0UxcAyB9gb9NCPwEsJ'/>
					        {% csrf_token %}
					        <input hidden type="text" name="parent_pl_id" value="{{ data.sel_pl_id }}"></input>
					        <input hidden type="text" name="child_pl_id" value="{{ data.bom_sel_pl_id }}"></input>
					        <td>
								<select id ="id_bom_{{cur_bom_det.bom_record.id}}" name="derivative_id">
					         	{% for cur_derivative in data.new_bom_derivative_opt %}
			              			<option value="{{ cur_derivative.id }}">{{ cur_derivative.name }}</option>
			              		{% endfor %}
			           			</select>
			           			<input type="text" name=id value="{{ data.sel_pl_id }}" hidden></input>
		           			</td>
		           			<td><input type=submit class="command-button button primary" name="fg_bom_create" value="BOM create"></input></td>
							</form>
							
						</tr>
				    </tbody>
		        </table>
				</div>
				
				
				<fieldset class="module aligned collapse">
	           	<div class="form-row field-xyz">
			        <h4 style="text-align:center">FG BOM</h4>
			        <table>
				        <thead>
				        	<th>ID</th>
				        	<th>Name</th>
				        	<th>D1</th>
				        	<th>D2</th>
				        	<th>D3</th>
				        	<th>D4</th>
				        	<th>Qty</th>
				        	<th>Fin Str</th>
				        	<th>GO</th>
				        	<th>Derivative opt</th>
			        		<th>Update</th>
			        		<th>Delete</th>
			        	</thead>
				        <tbody>
				        	{% for cur_bom_det in data.fg_bom_det %}
				        	{% cycle 'row1' 'row2' as rowcolors silent %}
							<tr class="{{ rowcolors }}">
								<td>{{ cur_bom_det.bom_record.id }}</td>
					        	<td>{{ cur_bom_det.pl_record.name }} [{{ cur_bom_det.pl_record.id }}]</td>
					        	<td>{{ cur_bom_det.derivative_record.d1 }}</td>
					        	<td>{{ cur_bom_det.derivative_record.d2 }}</td>
					        	<td>{{ cur_bom_det.derivative_record.d3 }}</td>
					        	<td>{{ cur_bom_det.derivative_record.d4 }}</td>
					        	<td>{{ cur_bom_det.derivative_record.qty }}</td>
					        	<td>{{ cur_bom_det.derivative_record.fin_str }}</td>
					        	<td><a href="{% url 'journal_mgmt:crm_auto_pl_mgmt' %}?parent_pl_id={{ cur_bom_det.bom_record.associated_fg_id }}" class="add-another" />
									<img src="/static/admin/img/icon_changelink.gif" width="10" height="10" alt="GO"></a>
								</td>
								<!------------------------------------ Form for Updating FG bom -------------------------------------->
								<form enctype="multipart/form-data" action="{% url 'journal_mgmt:crm_bom_crud' 'update' 'fg_bom' %}" method="post" id="fg_derivative" novalidate>
						        <input type='hidden' name='csrfmiddlewaretoken' value='ehAo1ovx9UUGPQ0UxcAyB9gb9NCPwEsJ'/>
						        {% csrf_token %}
						        <input hidden type="text" name="parent_pl_id" value="{{ data.sel_pl_id }}"></input>
						        <input hidden type="text" name="child_prim_key" value="{{ cur_bom_det.bom_record.id }}"></input>
						        <input hidden type="text" name="child_pl_id" value="{{ data.bom_sel_pl_id }}"></input>
					        	<td>
									<select id ="id_bom_{{cur_bom_det.bom_record.id}}" name="derivative_id">
							         	{% for cur_derivative in cur_bom_det.derivative_opt %}
					              			<option value="{{ cur_derivative.id }}" {% if cur_bom_det.bom_record.derivative_id == cur_derivative.id %} selected {% endif %}>{{ cur_derivative.name }} [{{ cur_derivative.id }}]</option>
					              		{% endfor %}
				           			</select>
				           			<input type="text" name=id value="{{ cur_bom_det.id }}" hidden></input>
			           			</td>
								<td><input type=submit class="command-button button primary" name="bom_update" value="FG BOM Update"></input></td>
								</form>
								<td>
								<!------------------------------------ Form for Deleting FG bom -------------------------------------->
								<form enctype="multipart/form-data" action="{% url 'journal_mgmt:crm_bom_crud' 'delete' 'fg_bom' %}" method="post" id="fg_derivative" novalidate>
						        <input type='hidden' name='csrfmiddlewaretoken' value='ehAo1ovx9UUGPQ0UxcAyB9gb9NCPwEsJ'/>
						        {% csrf_token %}
						        <input hidden type="text" name="parent_pl_id" value="{{ cur_bom_det.bom_record.pl_id }}"></input>
						        <input hidden type="text" name="child_prim_key" value="{{ cur_bom_det.bom_record.id }}"></input>
						        <input hidden type="text" name="child_pl_id" value="{{ cur_bom_det.bom_record.bom_id }}"></input>
					        	<input  class="command-button button primary" type=submit name="bom_delete" value="Delete"></input>
						        </form>
								</td>
							</tr>
					        
					        {% endfor %}
					        <tr><td></td><td>Add new</td></tr>
					        <!------------------------------------ Form for creating FG BOM  -------------------------------------->
					        {% cycle 'row1' 'row2' as rowcolors silent %}
							<tr class="{{ rowcolors }}">
					        	<td>-</td>
					        	<td>{{ data.bom_sel_pl.name }}</td>
					        	<td>-</td>
					        	<td>-</td>
					        	<td>-</td>
					        	<td>-</td>
					        	<td>-</td>
					        	<td>-</td>
					        	<td>-</td>
					        	<form enctype="multipart/form-data" action="{% url 'journal_mgmt:crm_bom_crud' 'create' 'fg_bom' %}" method="post" id="fg_derivative" novalidate>
							        <input type='hidden' name='csrfmiddlewaretoken' value='ehAo1ovx9UUGPQ0UxcAyB9gb9NCPwEsJ'/>
							        {% csrf_token %}
							        <input hidden type="text" name="parent_pl_id" value="{{ data.sel_pl_id }}"></input>
							        <input hidden type="text" name="child_pl_id" value="{{ data.bom_sel_pl_id }}"></input>
								    <td>
										<select id ="id_bom_{{cur_bom_det.bom_record.id}}" name="derivative_id">
							         	{% for cur_derivative in data.new_fg_bom_derivative_opt %}
					              			<option value="{{ cur_derivative.id }}">{{ cur_derivative.name }}</option>
					              		{% endfor %}
					           			</select>
				           			</td>
								<td><input class="command-button button primary" type=submit name="fg_bom_create" value="FG bom Create"></input></td>
								</form>
							</tr>
					    </tbody>
			        </table>
				</div>
				</fieldset>
				
				<fieldset id = "show_hide_panel1" class="module aligned collapse collapsed">
    				<h2>Derivatives (<a id="switch_link1" class="collapse-toggle" href="#" onclick="show_hide('show_hide_panel1', 'switch_link1')">Show</a>)</h2>
    				<h4 style="text-align:center">Derivative Options</h4>
    				<table>
				        <thead>
				        	<th>ID</th>
				        	<th>Name</th>
				        	<th>D1</th>
				        	<th>D2</th>
				        	<th>D3</th>
				        	<th>D4</th>
				        	<th>Qty</th>
				        	<th>F1</th>
				        	<th>F2</th>
				        	<th>F3</th>
				        	<th>F4</th>
				        	<th>F5</th>
				        	<th>F6</th>
				        	<th>F7</th>
				        	<th>F8</th>
				        	<th>F9</th>
				        	<th>F10</th>
				        	<th>F11</th>
				        	<th>F12</th>
				        	<th>save</th>
					    </thead>
				        <tbody>
				        	{% for cur_derivative in data.derivative_index %}
				        	<!------------------------------------ Form for Updating derivative -------------------------------------->
				        	<form enctype="multipart/form-data" action="{% url 'journal_mgmt:crm_derivative_crud' 'update' 'derivative' %}" method="post" id="fg_derivative" novalidate>
					        <input type='hidden' name='csrfmiddlewaretoken' value='ehAo1ovx9UUGPQ0UxcAyB9gb9NCPwEsJ'/>
					        {% csrf_token %}
					        <input hidden type="text" name="searched_str" value="{{ data.searched_str }}"></input>
		      				<input hidden type="text" name="sel_pl_id" value="{{ data.sel_pl_id }}"></input>
		      				<input hidden type="text" name="unique_id" value="{{ data.sel_unique_id }}"></input>
		      				<input hidden type="checkbox" name="change_rm" value="{{ data.change_rm }}"></input>
		      				{% cycle 'row1' 'row2' as rowcolors silent %}
								<tr class="{{ rowcolors }}">
						        	<td><input type="text" name=id value="{{ cur_derivative.id }}" hidden></input></td>
						        	<td><input type="text" name=name value="{{ cur_derivative.name }}"></input></td>
						        	<td><input type="text" name=d1 value="{{ cur_derivative.d1 }}"></input></td>
						        	<td><input type="text" name=d2 value="{{ cur_derivative.d2 }}"></input></td>
						        	<td><input type="text" name=d3 value="{{ cur_derivative.d3 }}"></input></td>
						        	<td><input type="text" name=d4 value="{{ cur_derivative.d4 }}"></input></td>
						        	<td><input type="text" name=qty value="{{ cur_derivative.qty }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f1 value="{{ cur_derivative.f1 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f2 value="{{ cur_derivative.f2 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f3 value="{{ cur_derivative.f3 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f4 value="{{ cur_derivative.f4 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f5 value="{{ cur_derivative.f5 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f6 value="{{ cur_derivative.f6 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f7 value="{{ cur_derivative.f7 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f8 value="{{ cur_derivative.f8 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f9 value="{{ cur_derivative.f9 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f10 value="{{ cur_derivative.f10 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f11 value="{{ cur_derivative.f11 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f12 value="{{ cur_derivative.f12 }}"></input></td>
						        	<td><input type=submit class="command-button button primary" name="derivative_update" value="update"></input></td>
						    </form>
						    <td>
							    <form enctype="multipart/form-data" action="{% url 'journal_mgmt:crm_derivative_crud' 'delete' 'derivative' %}" method="post" id="fg_derivative" novalidate>
							        <input type='hidden' name='csrfmiddlewaretoken' value='ehAo1ovx9UUGPQ0UxcAyB9gb9NCPwEsJ'/>
							        {% csrf_token %}
							        <input hidden type="text" name="sel_pl_id" value="{{ data.sel_pl_id }}"></input>
							        <input type="text" name=id value="{{ cur_derivative.id }}" hidden></input>
								    <input type=submit class="command-button button primary" name="derivative_delete" value="delete"></input>
							    </form>
						    </td>
						    </tr>
					        {% endfor %}
					        <tr><td></td><td>Add new</td></tr>
					        <!------------------------------------ Form for Creating derivative -------------------------------------->
					        <form enctype="multipart/form-data" action="{% url 'journal_mgmt:crm_derivative_crud' 'create' 'derivative' %}" method="post" id="fg_derivative" novalidate>
					        <input type='hidden' name='csrfmiddlewaretoken' value='ehAo1ovx9UUGPQ0UxcAyB9gb9NCPwEsJ'/>
					        {% csrf_token %}
				            {% cycle 'row1' 'row2' as rowcolors silent %}
								<tr class="{{ rowcolors }}">
									<td>ID</td>
						        	<td><input type="text" name=name value="{{ cur_derivative.name }}"></input></td>
						        	<td><input type="text" name=d1 value="{{ cur_derivative.d1 }}"></input></td>
						        	<td><input type="text" name=d2 value="{{ cur_derivative.d2 }}"></input></td>
						        	<td><input type="text" name=d3 value="{{ cur_derivative.d3 }}"></input></td>
						        	<td><input type="text" name=d4 value="{{ cur_derivative.d4 }}"></input></td>
						        	<td><input type="text" name=qty value="{{ cur_derivative.qty }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f1 value="{{ cur_derivative.f1 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f2 value="{{ cur_derivative.f2 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f3 value="{{ cur_derivative.f3 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f4 value="{{ cur_derivative.f4 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f5 value="{{ cur_derivative.f5 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f6 value="{{ cur_derivative.f6 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f7 value="{{ cur_derivative.f7 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f8 value="{{ cur_derivative.f8 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f9 value="{{ cur_derivative.f9 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f10 value="{{ cur_derivative.f10 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f11 value="{{ cur_derivative.f11 }}"></input></td>
						        	<td><input type="text" style="width:30px" name=f12 value="{{ cur_derivative.f12 }}"></input></td>
						        	<td><input class="command-button button primary" type=submit name="derivative_create" value="Create"></input></td>
						    </form>
					        </tr>
						</tbody>
			        </table>
			        <h4 style="text-align:center">FG Derivative Options</h4>
    				<table>
				        <thead>
				        	<th>ID</th>
				        	<th>Name</th>
				        	<th>D1</th>
				        	<th>D2</th>
				        	<th>D3</th>
				        	<th>D4</th>
				        	<th>Qty</th>
				        	<th>Fin Str</th>
				        	<th>save</th>
					    </thead>
				        <tbody>
				        	{% for cur_derivative in data.fg_derivative_index %}
				        	<form enctype="multipart/form-data" action="{% url 'journal_mgmt:crm_derivative_crud' 'update' 'fg_derivative' %}" method="post" id="fg_derivative" novalidate>
					        <input type='hidden' name='csrfmiddlewaretoken' value='ehAo1ovx9UUGPQ0UxcAyB9gb9NCPwEsJ'/>
					        {% csrf_token %}
					        <!------------------------------------ Form for creating FG Derivative -------------------------------------->
					        <input hidden type="text" name="searched_str" value="{{ data.searched_str }}"></input>
		      				<input hidden type="text" name="sel_pl_id" value="{{ data.sel_pl_id }}"></input>
		      				<input hidden type="text" name="unique_id" value="{{ data.sel_unique_id }}"></input>
		      				<input hidden type="checkbox" name="change_rm" value="{{ data.change_rm }}"></input>
		      				{% cycle 'row1' 'row2' as rowcolors silent %}
								<tr class="{{ rowcolors }}">
									<td><input type="text" name=id value="{{ cur_derivative.id }}" hidden></input></td>
						        	<td><input type="text" name=name value="{{ cur_derivative.name }}"></input></td>
						        	<td><input type="text" name=d1 value="{{ cur_derivative.d1 }}"></input></td>
						        	<td><input type="text" name=d2 value="{{ cur_derivative.d2 }}"></input></td>
						        	<td><input type="text" name=d3 value="{{ cur_derivative.d3 }}"></input></td>
						        	<td><input type="text" name=d4 value="{{ cur_derivative.d4 }}"></input></td>
						        	<td><input type="text" name=qty value="{{ cur_derivative.qty }}"></input></td>
						        	<td><input type="text" style="width:30px" name=fin_str value="{{ cur_derivative.fin_str }}"></input></td>
						        	<td><input class="command-button button primary" type=submit name="fg_derivative_update" value="update"></input></td>
						    </form>
				        	<td>
					        	<form enctype="multipart/form-data" action="{% url 'journal_mgmt:crm_derivative_crud' 'delete' 'fg_derivative' %}" method="post" id="fg_derivative" novalidate>
							        <input type='hidden' name='csrfmiddlewaretoken' value='ehAo1ovx9UUGPQ0UxcAyB9gb9NCPwEsJ'/>
							        {% csrf_token %}
						        	<input hidden type="text" name="sel_pl_id" value="{{ data.sel_pl_id }}"></input>
							        <input type="text" name=id value="{{ cur_derivative.id }}" hidden></input>
								    <input type=submit class="command-button button primary" name="derivative_delete" value="delete"></input>
							    </form>
						    </td>
					        </tr>
						    {% endfor %}
					        <tr><td></td><td>Add new</td></tr>
					        <!------------------------------------ Form for creating FG Derivative -------------------------------------->
					        <form enctype="multipart/form-data" action="{% url 'journal_mgmt:crm_derivative_crud' 'create' 'fg_derivative' %}" method="post" id="fg_derivative" novalidate>
					        <input type='hidden' name='csrfmiddlewaretoken' value='ehAo1ovx9UUGPQ0UxcAyB9gb9NCPwEsJ'/>
					        {% csrf_token %}
					        <input hidden type="text" name="searched_str" value="{{ data.searched_str }}"></input>
		      				<input hidden type="text" name="sel_pl_id" value="{{ data.sel_pl_id }}"></input>
		      				<input hidden type="text" name="unique_id" value="{{ data.sel_unique_id }}"></input>
		      				<input hidden type="checkbox" name="change_rm" value="{{ data.change_rm }}"></input>
				            {% cycle 'row1' 'row2' as rowcolors silent %}
								<tr class="{{ rowcolors }}">
						        	<td>ID</td>
						        	<td><input type="text" name=name value="{{ cur_derivative.name }}"></input></td>
						        	<td><input type="text" name=d1 value="{{ cur_derivative.d1 }}"></input></td>
						        	<td><input type="text" name=d2 value="{{ cur_derivative.d2 }}"></input></td>
						        	<td><input type="text" name=d3 value="{{ cur_derivative.d3 }}"></input></td>
						        	<td><input type="text" name=d4 value="{{ cur_derivative.d4 }}"></input></td>
						        	<td><input type="text" name=qty value="{{ cur_derivative.qty }}"></input></td>
						        	<td><input type="text" style="width:30px" name=fin_str value="{{ cur_derivative.fin_str }}"></input></td>
						        	<td><input class="command-button button primary" type=submit name="fg_derivative_create" value="Create"></input></td>
						        </tr>
						    </form>
					    </tbody>
			        </table>
			    </fieldset>
			   	{% endif %}
				</fieldset>
		</div>
		</fieldset>
</div>
    <!------------------------------------ END Content -------------------------------------->
<div id="footer"></div>
</div>
<!------------------------------------ END Container -------------------------------------->
{% endblock %}
</body>