{% extends "admin/change_form_custom.html" %}
<!DOCTYPE html>
<html lang="en-us" >
<head>
<title> Shipment Item </title>

<meta name="robots" content="NONE,NOARCHIVE" />
<script type="text/javascript">
	function show_hide(panel_id, link_id) {
	   var panel = document.getElementById(panel_id);
	   var link = document.getElementById(link_id);
	   
	   if (link.innerHTML == 'Show'){
	   	link.innerHTML = 'Hide'
	   	panel.className = "module aligned collapse"
	   }
	   else if (link.innerHTML == 'Hide') {
   		link.innerHTML = 'Show'
	   	panel.className = "module aligned collapse collapsed"
	   }
	   }
</script>
</head>

<body class=" app-journal_mgmt model-coa_group change-form">

<!-- Container -->
<div id="container">
    <!-- Header -->

    <!-- END Header -->
{% block breadcrumbs %}
{% if not is_popup %}
<div class="margin10" style="float: left; height:7x; width:100%">
        	<ul class="breadcrumbs">
                    <li><a href="/journal_mgmt/"><span class="icon mif-home"></span></a></li>
						<li>Add {{ data.transaction_type.0.name }}</li>
                 
                </ul>
               </div>
               <br>
              {% endif %}
{% endblock %}

{% block content %}
<script type="text/javascript">
	function show_hide(panel_id, link_id) {
	   var panel = document.getElementById(panel_id);
	   var link = document.getElementById(link_id);
	   
	   if (link.innerHTML == 'Show'){
	   	link.innerHTML = 'Hide'
	   	panel.className = "module aligned collapse"
	   }
	   else if (link.innerHTML == 'Hide') {
   		link.innerHTML = 'Show'
	   	panel.className = "module aligned collapse collapsed"
	   }
	   }
</script>
<script>
        function showCharm(id){
            var  charm = $("#"+id+"-charm").data("charm");
            if (charm.element.data("opened") === true) {
                charm.close();
            } else {
                charm.open();
            }
        }
    </script> 

<!-- Content -->
	<div>
	<div1 data-role="charm" data-position="left" id="left-charm" style="overflow:auto; float: left; width:20%"><h1 class="text-light">Menu</h1>
         	<div class="cell" >
                       <ul class="sidebar2">
                            
                            <li class="active"><a href="/journal_mgmt/transaction_ref/index/ttype=58"><span class="mif-home icon"></span>Recive TPL</a></li>
                            
                            
                                    
                                    
                                </ul>
                            
                            
                      
                    </div>
               
            </div1>
	    <h1>MRS Preview</h1>
	    <div>
	  	<ul class="object-tools">
	    <li>
	        <a href="/admin/journal_mgmt/coa_group/23/history/" class="historylink">History</a>
	    </li>
	  	</ul>
	
		<form enctype="multipart/form-data" action="" method="post" id="coa_group_form" novalidate>
		<input type='hidden' name='csrfmiddlewaretoken' value='9cKGBV5JDqNhoFw1smDgRw99CGglyEt9' />
		{% csrf_token %}
		<div>
		  	<fieldset class="module aligned ">
		  		<div class="form-row field-shipment" hidden>
		           <input class="vTextField" name="shipment_id" id="id_shipment_id" type="text" value="{{ data.shipment.id }}" readonly/>
		        </div>
		  		<div class="form-row field-shipment">
		  			<div style="float:left; width:50%">
			           <label class="required" for="id_shipment_item_id">Transaction Type Ref:</label>
			           <input  class="vTextField" name="shipment_item_id" id="id_shipment_item_id" type="text" value="{{data.tref_obj.transaction_type.name}}" readonly />
			        </div>
			        <div style="float:left; width:50%">
						<label class="required" for="id_item_group">Transaction Ref.:</label>
						<input  class="vIntegerField" id="id_item_group_no" readonly style="width:100px" name="shipment" type="text" value="{{data.tref_obj.name}}" />
					</div>
				</div>
			</fieldset>
			{% for cur_bom_key, cur_bom_val  in data.bom_data.items %}
			<fieldset id = "show_hide_panel{{forloop.counter}}" class="module aligned collapse collapsed">
			<h2>{{cur_bom_key}} (<a id="switch_link{{forloop.counter}}" class="collapse-toggle" href="#" onclick="show_hide('show_hide_panel{{forloop.counter}}', 'switch_link{{forloop.counter}}')">Show</a>)</h2>
		        <table id="new_inf_list">
					<thead>
						<tr>
							<th scope="col" class="action-checkbox-column" style="width:2.5%">
							   <div class="text"><span>Sl No.</span></div>
							</th>
							<th scope="col" class="action-checkbox-column">
							   <div class="text"><span>Item Master ID</span></div>
							</th>
							<th scope="col" class="action-checkbox-column">
							   <div class="text"><span>Item Master Name</span></div>
							</th>
							<th scope="col" class="action-checkbox-column">
							   <div class="text"><span>Finish Code</span></div>
							</th>
							<th scope="col" class="action-checkbox-column">
							   <div class="text"><span>Qty</span></div>
							</th>
						</tr>
					</thead>
					<tbody>
						{% for cur_item in cur_bom_val %}
						{% cycle 'row1' 'row2' as rowcolors silent %}
							<tr class="{{ rowcolors }}">
								<td class="form-row {{ rowcolors }}" style="width:2.5%">
									<div class="text"><span>{{ forloop.counter }}</span></div>
								</td>
								<td class="form-row {{ rowcolors }}" style="width:10%" >
									<div class="text"><span>{{ cur_item.0.id }}</span></div>
								</td>
								<td class="form-row {{ rowcolors }}" style="width:40%">
									<div class="text"><span>{{ cur_item.0.name }}</span></div>
								</td>
								<td class="form-row {{ rowcolors }}" style="width:40%">
									<div class="text"><span>{{ cur_item.0.imported_item_finish }}</span></div>
								</td>
								<td class="form-row {{ rowcolors }}" style="width:auto">
									<div class="text"><span>{{ cur_item.1|stringformat:".2f" }}</span></div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</fieldset>
			{% endfor %}			
		</div>
		<div class="submit-row">
			<input type="submit" value="Save" class= "command-button button primary" name="_save" />
			<p class="deletelink-box"><a href="/admin/journal_mgmt/coa_group/23/delete/" class="deletelink">Delete</a></p>
			<input type="submit" value="Save and add another" class= "command-button button primary" name="_addanother" />
			<input type="submit" value="Save and continue editing" class= "command-button button primary" name="_continue" />
		</div>
	
		</form>
	</div>
        
    <br class="clear" />
</div>
<!-- END Content -->
{% endblock %}

<div id="footer"></div>
</div>
<!-- END Container -->
</body>
</html>
