{% extends "admin/change_form_custom.html" %}
<!DOCTYPE html>
<html lang="en-us" >
<head>
<title> Production Auto PLAN </title>

<meta name="robots" content="NONE,NOARCHIVE" />
<script type="text/javascript">
	function show_hide(panel_id, link_id) {
	   var panel = document.getElementById(panel_id);
	   var link = document.getElementById(link_id);
	   
	   if (link.innerHTML == 'Show'){
	   	link.innerHTML = 'Hide'
	   	panel.className = "module aligned collapse"
	   }
	   else if (link.innerHTML == 'Hide') {
   		link.innerHTML = 'Show'
	   	panel.className = "module aligned collapse collapsed"
	   }
	   }
</script>
</head>

<body class=" app-journal_mgmt model-coa_group change-form">
{% load custom_temp_tags %}
<!-- Container -->
<div id="container">
    <!-- Header -->

    <!-- END Header -->
{% block breadcrumbs %}
{% if not is_popup %}
	<div class="margin10" style="float: left; height:7x; width:100%">
      	<ul class="breadcrumbs">
	        <li><a href="/journal_mgmt/"><span class="icon mif-home"></span></a></li>
			<li>Add {{ data.transaction_type.0.name }}</li>
		</ul>
	</div>
	<br>
{% endif %}
{% endblock %}

{% block content %}
<script type="text/javascript">
	function show_hide(panel_id, link_id) {
	   var panel = document.getElementById(panel_id);
	   var link = document.getElementById(link_id);
	   
	   if (link.innerHTML == 'Show'){
	   	link.innerHTML = 'Hide'
	   	panel.className = "module aligned collapse"
	   }
	   else if (link.innerHTML == 'Hide') {
   		link.innerHTML = 'Show'
	   	panel.className = "module aligned collapse collapsed"
	   }
	   }
</script>
<script>
        function showCharm(id){
            var  charm = $("#"+id+"-charm").data("charm");
            if (charm.element.data("opened") === true) {
                charm.close();
            } else {
                charm.open();
            }
        }
</script> 
<script type="text/javascript">
	function myFunction(x,y){
		var sel = document.getElementById("job_work_rate").value  ;
		document.getElementById(y).value = x;
		
		}
</script>
								

<!-- Content -->
<div>
	<div data-role="charm" data-position="left" id="left-charm" style="overflow:auto; float: left; width:20%"><h1 class="text-light">Menu</h1>
		<div class="cell" >
			<ul class="sidebar2">
				<li class="active"><a href="/journal_mgmt/transaction_ref/index/ttype=64"><span class="mif-home icon"></span>Recive TPL</a></li>
           	</ul>
		</div>
	</div>
	    <h1>Production Auto Plan </h1>
	    <div>
	    
	  	<ul class="object-tools">
		    <li>
		        <a href="/admin/journal_mgmt/coa_group/23/history/" class="historylink">History</a>
		    </li>
	  	</ul>
		
		<div>
	  	<fieldset class="module aligned ">
	  		<div class="form-row field-shipment" hidden>
	           <input class="vTextField" name="shipment_id" id="id_shipment_id" type="text" value="{{ data.shipment.id }}" readonly/>
	        </div>
	  		<div class="form-row field-shipment">
	  			<div style="float:left; width:50%">
		           <label class="required" for="id_shipment_item_id">Transaction Type Ref:</label>
		           <input  class="vTextField" name="shipment_item_id" id="id_shipment_item_id" type="text" value="{{data.tref.transaction_type.name}}" readonly />
		        </div>
		        <div style="float:left; width:50%">
					<label class="required" for="id_item_group">Transaction Ref.:</label>
					<input  class="vIntegerField" id="id_item_group_no" readonly style="width:100px" name="shipment" type="text" value="{{data.tref.name}}" />
				</div>
			</div>
		</fieldset>
		<fieldset class="module aligned ">
		<form enctype="multipart/form-data" action="{% url 'journal_mgmt:production_auto_plan' data.tref.id %}" method="post" id="coa_group_form" novalidate>
			<input type='hidden' name='csrfmiddlewaretoken' value='9cKGBV5JDqNhoFw1smDgRw99CGglyEt9' />
			{% csrf_token %}
			<div style="float:right; width:99%; height:45px">
				<label class="required" for="id_work_center" style="float:left; width:130px">Work Center Name:</label>
				<select id="id_sel_work_center" name="sel_work_center" onchange="submit()">
				<option value="*All*" {% if data.sel_work_center == '*All*' %} selected {% endif %}>*All*</option>
				{% for cur_work_center in data.work_center_opt %}
					<option value="{{ cur_work_center.id }}" {% if data.sel_work_center_obj.id == cur_work_center.id %} selected {% endif %}>{{ cur_work_center.name }}</option>
       			{% endfor %}
           		</select>
             </div>
            
        </form>    
       	<form enctype="multipart/form-data" action="{% url 'journal_mgmt:production_auto_plan' data.tref.id %}" method="post" id="coa_group_form" novalidate>
       		<input type='hidden' name='csrfmiddlewaretoken' value='9cKGBV5JDqNhoFw1smDgRw99CGglyEt9' />
			{% csrf_token %}
			<div style="float:right; width:99%; height:45px">
				<label class="required" for="id_vendor" style="float:left; width:130px">Vendor Name:</label>
				<select id="id_sel_vendor" name="sel_vendor" onchange="submit()">
					<option value="*All*" {% if data.sel_vendor == '*All*' %} selected {% endif %}>*All*</option>
					{% for cur_vendor in data.vendor_opt %}
     					<option value="{{ cur_vendor.id }}" {% if data.sel_vendor_obj.id == cur_vendor.id %} selected {% endif %}>{{ cur_vendor.name }}</option>
            		{% endfor %}
              		</select>
              	</div>
              	
        </form>
		</fieldset>	
		<form enctype="multipart/form-data" action="{% url 'journal_mgmt:production_auto_plan' data.tref.id %}" method="post" id="coa_group_form" novalidate>
			<input type='hidden' name='csrfmiddlewaretoken' value='9cKGBV5JDqNhoFw1smDgRw99CGglyEt9' />
			{% csrf_token %}			
			<fieldset id = "show_hide_panel{{forloop.counter}}" class="module aligned collapse">
			<div class="form-row field-deliver_date">
			<div style="float:left">
				<label class="required" for="id_delivery_date" style="float:left; width:130px">Delivery Date:</label>
              	<input type="text" maxlength="50" id="id_date" name="delivery_dt" value="{{ data.tref_add_data.delivery_dt }}"/></input>
			</div>
            </div>
            <div hidden>
				{% if data.work_center_selected == True %}
					<input type="text" maxlength="50" id="id_work_center" name="sel_work_center" value="{{ data.sel_work_center_obj.id }}"/></input>
				{% elif data.vendor_selected == True %}
					<input type="text" maxlength="50" id="id_vendor" name="sel_vendor" value="{{ data.sel_vendor_obj.id }}"/></input>
				{% endif %}
			</div>
            {% if data.vendor_selected = True %}
				<div class="form-row field-shipment">
					<div style="float:left; width:33%">
						<label class="required" for="id_state">State:</label>
						<select id="id_sel_state" name="state">>
						{% for cur_state in data.state_opt %}
							<option value="{{ cur_state.id }}" id="id_sel_state">{{ cur_state.name }}</option>
						{% endfor %}
						</select>
              		</div>
              		<div style="float:left; width:33%">
						<label class="required" for="id_item_group">City:</label>
						<select id="id_city" name="city">
						{% for cur_city in data.city_opt %}
							<option value="{{ cur_city.id }}" id="id_sel_city">{{ cur_city.name }}</option>
						{% endfor %}
						</select>
	               	</div>
	               	<div style="float:left; width:33%">
						<label class="required" for="id_state">Delivery Date:</label>
	               		<input type="text" maxlength="50" id="id_date" name="date" value="{{ data.delivery_dt }}"/></input>
					</div>
	            </div>
				<div class="form-row field-shipment">
					<div style="float:left; width:33%">
						<label class="required" for="id_ship_to">Ship to:</label>
	               		<input type="text" maxlength="50" id="id_ship_to" name="ship_to" value="{{ data.ship_to }}"/></input>
					</div>
				   	<div style="float:left; width:33%">
						<label class="required" for="id_sel_shipping_addr1">Shipping Addr Line 1:</label>
	               		<input type="text" maxlength="50" id="id_shipping_addr1" name="shipping_addr1" value="{{ data.shipping_addr1 }}"/></input>
					</div>
					<div style="float:left; width:33%">
						<label class="required" for="id_sel_shipping_addr2">Shipping Addr Line 2:</label>
	               		<input type="text" maxlength="50" id="id_shipping_addr2" name="shipping_addr2" value="{{ data.shipping_addr2 }}"/></input>
					</div>
	            </div>
            {% endif %}
            </fieldset>
			<fieldset id = "show_hide_panel{{forloop.counter}}" class="module aligned collapse">
	        <table id="new_inf_list">
				<thead>
					<tr>
						<th style="width:2.5%">
						   Sl No.</span></div>
						</th>
						<th>Item Master Name</th>
						<th>TPL Ref No.</th>
						<th style="width:2%">Next</th>
						<th style="width:5%">Balance Qty</th>
						<th>Plant Stk Qty</th>
						<th>Allocated Qty</th>
						<th>Issue Qty</th>
						{% if data.work_center_selected == True%}
							<th>WC Stk Qty</th>
							<th>Work Center Price</th>
						{% elif data.vendor_selected == True %}
							<th>Vendor Stk Qty</th>
							<th>Vendor Price</th>
						{% endif %}
						<th>New Balance Qty</th>
					</tr>
				</thead>
				<tbody>
				{% for cur_pro_inv_jour_dict in data.pro_inv_jour_items %}
					{% with cur_pro_inv_jour_dict.inv_jour_obj as inv_jour_obj %}
					{% with cur_pro_inv_jour_dict.add_data as add_data %}
					{% with data.balance_check|get_element:inv_jour_obj.id as cur_bal_check %}
					{% cycle 'row1' 'row2' as rowcolors silent %}
					<tr class="{{ rowcolors }}">
						<td>
							<div class="text"><span>{{ forloop.counter }}</span></div>
							<div hidden>
							<input type="number" id="id_inv_jour_id_{{ forloop.counter }}" maxlength="50" name="inv_jour_id!!{{ forloop.counter }}" value="{{ inv_jour_obj.id }}"/>
							</div>
						</td>
						<td>
							<div class="text"><span>{{ inv_jour_obj.item_master.name }}</span></div>
						</td>
						<td>{{ inv_jour_obj.tpl_ref_no }}</td>
						<td>{% if add_data.next == True %}YES{% endif %}</td>
						<td>{{ inv_jour_obj.balance_qty|stringformat:".2f" }}</td>
						<td>{{ add_data.plant_stock|stringformat:".2f" }}</td>
						<td>{{ cur_bal_check.red_due_allocation|stringformat:".2f" }}</td>
						<td>
						<input type="number" style="width:70px" maxlength="50" id="id_shop_qty!!{{ forloop.counter }}" name="issue_qty!!{{ forloop.counter }}"  value="{{ add_data.issue_qty|stringformat:".2f" }}"/></input>
						</td>
						{% if data.work_center_selected == True %}
							<td>{{ add_data.work_center_stock|stringformat:".2f" }}</td>
							<td>
							{% for cur_wc_pl in add_data.work_center_pl_opt %}
			                	{% if cur_wc.rate > 0 %}
			                	{{ cur_wc_pl.name }} : {{ cur_wc_pl.rate }}
			                	{% endif %}
			                {% endfor %}
							</td>
						{% elif data.vendor_selected == True %}
							<td>{{ add_data.vendor_stock|stringformat:".2f" }}</td>
							<td>
								{% for cur_vendor_pl in add_data.vendor_pl_opt %}
				                	{% if cur_vendor.rate > 0 %}
				                	{{ cur_vendor_pl.name }} : {{ cur_vendor_pl.rate }}
				                	{% endif %}
				                {% endfor %}
							</td>
						{% endif %}
						<td>
							{% with data.balance_check|get_element:inv_jour_obj.id as cur_bal_check %}
								{{ cur_bal_check.new_bal_qty|stringformat:".2f" }}
							{% endwith %}
						</td>
					</tr>
					{% endwith %}
					{% endwith %}
					{% endwith %}
				{% endfor %}
				</tbody>
			</table>
			</fieldset>
			<div class="submit-row">
				<input type="submit" value="preview" class="command-button button primary" name="preview"/>
			</div>
		
		</div>
			<table id="rm_list">
				<thead>
					<th style="width:10%">Sl No.</th>
					<th style="width:10%">Item Name</th>
					<th style="width:10%">TPL Ref</th>
					<th style="width:30%">RM Qty</th>
					<th style="width:30%">Plant Stock</th>
					<th style="width:30%">
					{% if data.work_center_selected == True %}Work center {% elif data.vendor_selected == True %}Vendor {% endif %}Stock
					</th>
					
					<th style="width:30%">New Balance Qty</th>
					<!-- <th style="width:30%">Mod Qty</th>
					<th style="width:30%">Nested Qty</th> -->
				</thead>
				<tbody>
				{% for cur_nested in data.nested_list %}
				{% cycle 'row1' 'row2' as rowcolors silent %}
					<tr class="{{ rowcolors }}">
						<td>{{ forloop.counter }}</td>
						<td class="form-row {{ rowcolors }}" style="width:60%">
							<div class="text"><span>{{ cur_nested.0.name }}</span></div>
						</td>
						<td>{{ cur_nested.2.tpl_ref }}</td>
						<td><font color="{{ cur_nested.2.color }}">{{ cur_nested.1 }}</font></td>
						<td><font color="{{ cur_nested.2.color }}">{{ cur_nested.2.plant_stock }}</font></td>
						<td><font color="{{ cur_nested.2.color }}">{{ cur_nested.2.foreign_stock }}</font></td>
						<td class="form-row {{ rowcolors }}" style="width:7%"><font colour="{{ cur_nested.2.color }}">
							<div>
							{% if cur_nested.2.app_inv_jour_obj %}
								{% with cur_nested.2.app_inv_jour_obj as inv_jour_obj %}
								{% with data.balance_check|get_element:inv_jour_obj.id as cur_bal_check %}
									{{ cur_bal_check.new_bal_qty|stringformat:".2f" }}
								{% endwith %}
								{% endwith %}
							{% endif %}
							</div>
						</font></td>
						<!-- <td class="form-row {{ rowcolors }}" style="width:7%">
							<div class="number"><span>	
							<input type="number" maxlength="50" id="id_mod_qty_{{ forloop.counter }}" name="mod_qty_{{ forloop.counter }}"  value="{{ add_data.mod_qty|stringformat:".2f" }}"/></input>
						</span></td>	
						<td class="form-row {{ rowcolors }}" style="width:7%">
							<div class="text"><span>
							<text value="{{ cur_nested.req_qty }}" id="id_req_qty_{{ forloop.counter }}" name="req_qty_{{ forloop.counter }}">
						{{ cur_nested.2 }}</text>
						</span></div></td> -->
					</tr>
				{% endfor %}
				</tbody>
			</table>
			</fieldset>
			<div class="submit-row">
			{% if data.error == False %}
				<input type="submit" value="Save & Submit" class="command-button button primary" name="save"/>
			{% else %}
				Cannot Create
			{% endif %}
			</div>
		</div>
    	</form>
    <br class="clear" />
</div>
<!-- END Content -->
{% endblock %}

<div id="footer"></div>
</div>
<!-- END Container -->
</body>
</html>
