{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "19800";</script>

<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>

<script type="text/javascript">
	function update_balance(){
		var sel = document.getElementById("id_inventory_journal_set-add-debit_journal1").value;
		var bal = 0
		{% for deb_inv_jour in data.inv_jour_load_list %}
			if (sel == {{ deb_inv_jour.0.id }}){
				bal = {{ deb_inv_jour.0.balance_qty }}
			}
		{% endfor %}
		document.getElementById("id_inventory_journal_set-add-balance_qty1").value = bal;
		}
</script>


<meta name="robots" content="NONE,NOARCHIVE" />
</head>

{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

<body class=" app-journal_mgmt model-transaction_ref change-form">

{% block breadcrumbs %}
{% if not is_popup %}

<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/journal_mgmt/">Journal_Mgmt</a>
&rsaquo; <a href="/journal_mgmt/transaction_ref/index/ttype={{ data.transaction_type.0.id }}">{{ data.transaction_type.0.name }}</a>
&rsaquo; Add {{ data.transaction_type.0.name }}
</div>
{% endif %}
{% endblock %}

{% block content %}

<script type="text/javascript">
	function item_master_filter() {
	    var selectBox_item_group = document.getElementById("id_inventory_journal_set-add-group");
	    var selectedValue_item_group = selectBox_item_group.options[selectBox_item_group.selectedIndex].value;
	    document.getElementById("test").innerHTML = 6;
	    var nav_location =  "/journal_mgmt/transaction_ref/detail/id={{ data.id }}/?item_group=" + String(selectedValue_item_group);
	    window.location = nav_location;
	   }
</script>

<script type="text/javascript">
	function navigate(location_link) {
	    var nav_location =  location_link;
	    window.location = nav_location;
	   }
</script>

<div id="" class="colM">
    <h1>{% if data.id %} Edit {% else %} Create {% endif %} {{data.transaction_type.0.name}} - {{data.name}}</h1>
	
	<div id="test">
		{{data.error}}
	</div>
	
	
	<div id="content-main">
		<!--
		<ul class="object-tools">
        	<li>
            	<a href="/admin/journal_mgmt/transaction_ref/{{tref.id}}/history/" class="historylink">History</a>
            </li>
        </ul> 
        -->
        <form enctype="multipart/form-data" action="{% url 'journal_mgmt:tref_save' %}" method="post" id="transaction_ref_form" novalidate>
        <input type='hidden' name='csrfmiddlewaretoken' value='alaLLRkqN3XslnvZCPy6I5zN3PC5nqFB' />
		{% csrf_token %}
		<div class="form-row field-ref_no">
			<fieldset class="module aligned ">
				<div class="form-row field-name">
					<div>
						<div hidden>
							<label class="required" for="id_pk">ID:</label>
		                    <input class="vIntegerField" id="id_pk" name="pk" readonly type="text" value={{data.id}} />
						</div>
					</div>
					
					<div style="float:left">
						<div>
	                        <label class="required" for="id_name">Name:</label>
	                        <input class="vTextField" id="id_name" maxlength="200" name="name" readonly type="text" value= {{data.name}} />
	                    </div>
	                </div>
			        	
	                <div style="float:left; margin-left:30px">
	                    <div>
	                        <label class="required" for="id_transaction_type">Transaction type:</label>
	                        <select id="id_transaction_type" name="transaction_type" readonly>
	                            <option value="{{ data.transaction_type.0.id }}" selected>{{ data.transaction_type.0.name }}</option>
	                        </select>
	                    </div>
	                </div>
	                
	                <div style="float:left; margin-left:30px">
	                    <div>
	                        <label class="required" for="id_ref_no">Ref no:</label>
	                        <input class="vIntegerField" id="id_ref_no" name="ref_no" readonly type="text" value="{{data.ref_no}}" />
	                    </div>
	                </div>
	                <div style="float:right">
	                    <div style="float:left; margin-left:20px">
	                        <div class="checkbox-row">
	                        	<input id="id_active" name="active" type="checkbox" {% if data.active == True %} checked {% endif %}/><label class="vCheckboxLabel" for="id_active">Active</label>
	                        </div>
	                    </div>
	                    <div style="float:left; margin-left:20px"">
	                        <div class="checkbox-row">
	                            <input id="id_submit" name="submit" type="checkbox" {% if data.submit == True %} checked {% endif %}/><label class="vCheckboxLabel" for="id_submit">Submit</label>
	                        </div>
	                    </div>
	                    <div style="float:left; margin-left:20px">
	                        <div class="checkbox-row">
	                            <input id="id_force_close" name="force_close" type="checkbox" {% if data.force_close == True %} checked {% endif %}/><label class="vCheckboxLabel" for="id_force_close">Force close</label>
	                        </div>
	                    </div>
	                </div>
            	</div>
   				<div class="form-row field-ref_no">
   					<div style="float:left">
	   					<label class="required" for="id_custom_name">Reference Name:</label>
	   					<input class="vTextField" id="id_custom_name" maxlength="50" name="ref_name" value="{{data.object.ref_name}}"/>
   					</div>
   					{% if data.trule_data.code == 3 or data.trule_data.code == 6 %}
	   				<div style="float:left">
	   					<div style="float:left">
		                	<div>
		                	    <label class="required" for="id_debit_transaction1">Debit transaction1:</label>
		                            <select id="id_debit_transaction1" name="debit_transaction1" readonly = "readonly" readonly = "readonly" >
		                            	{% if data.debit_transaction1.id %}
										<option value="{{data.debit_transaction1.id}}" selected >{{data.debit_transaction1.name}}</option>
										{% endif %}
										{% if not data.inv_jour %}
											{% for debit in data.debit_transaction1_opt %}
												{% if data.debit_transaction1.id != debit.0.id %}
													<option value="{{debit.0.id}}" {% if data.deb1 ==  debit.0.id%} selected {% endif %}>{{debit.0.name}}</option>
												{% endif %}
											{% endfor %}
										{% endif %}
									</select>
								<a href="/journal_mgmt/transaction_ref/detail/id={{data.debit_transaction1.id}}" id="navigate_parent">
								<img src="/static/admin/img/icon_searchbox.png" alt="Search"/></a>
				            </div>
				        </div>
						{% if data.trule_data.code == 6 %}
						<div style="float:left">
		                   <div>
		                        <label class="required" for="id_debit_transaction2">Debit transaction2:</label>
			                        <select id="id_debit_transaction2" name="debit_transaction2">
										<option value="{{data.debit_transaction2.id}}"  selected >{{data.debit_transaction2.name}}</option>
										{% if not data.inv_jour %}
											{% for debit in data.debit_transaction2_opt %}
												{% if data.debit_transaction1.id != debit.0.id %}
													<option value="{{debit.0.id}}"  selected >{{debit.0.name}}</option>
												{% endif %}
											{% endfor %}
										{% endif %}
									</select>
								<a href="/admin/journal_mgmt/transaction_ref/add/?_to_field=id" class="add-another" id="add_id_debit_transaction2" onClick="return showAddAnotherPopup(this);"> <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a>
			                </div>
				        </div>
				        {% endif %}
				    </div>
			    	{% endif %}
		        	
		        	<div style="float:right; margin-left:20px">
	                	<div>
	                        <label class="required" for="id_remarks">Remarks:</label>
	                        <textarea class="vLargeTextField" cols="20" id="id_remarks" name="remarks" rows="2">{{data.object.remarks}}</textarea>
	                	</div>
	    			</div>
    			</div>
    			
    			{%if data.submit == True %}
    			<div class="form-row field-child_trefs">
    				{% for cur_child_tref in data.child_trefs %}
    				<div style="float:left; margin-left:20px">
    				<a href="/journal_mgmt/transaction_ref/create/ttype={{cur_child_tref.0.id}}?deb1={{data.id}}" id="navigate_parent">Create {{cur_child_tref.0.name}}</a>
    				<br/>
	    				{% for child_tref in cur_child_tref.1 %}
	    				<a href="/journal_mgmt/transaction_ref/detail/id={{child_tref.id}}" id="navigate_parent">> {{child_tref.name}}</a>
	    				<br/>
	    				{% endfor %}
	    			</div>
    				{% endfor %}
    			</div>
    			{% endif %}
    			
    			
    			<!-- Transaction Reference Based Code is written within the div given below 
	        	
	        	<div class="form-row field-test">
	        	<p>{{ data.transaction_type.1.field_list }}</p>
	        	<p>----------</p>
	        	<p>{{ data.transaction_type.1.attrib_list }}</p>
	        	<p>----------</p>
	        	{{ data.tax_format_opt }}
	        	<p>----------</p>
	        	{{ data.tref_data }}
	        	<p>----------</p>
	        	{{ data.add_links }}
	        	</div>-->
	        	<div>
	        	{% for cur_ttype_field in data.transaction_type.1.field_list %}
	        		<!--[('LABEL', 'HTML TAG TYPE', DEFAULT VALUE, {TAG SPECIFICATIONS IN DICTIONARY})]
		        	EXAMPLE: [('input_box_test', 'input', 0, {'type': 'text', 'max_length': 12}), ('select_box_test', 'select', '', {'type': ''})]-->
		        	{% if not forloop.counter|divisibleby:"2" %}
		        	<div class="form-row field-{{cur_ttype_field.0}}">
		        	{% endif %}
		        	
			        	<div style="float:left; width:50%">
			        		<label class="required" for="id_{{ cur_ttype_field.0 }}">{{ cur_ttype_field.0 }}</label>
			        		<!-- Test Code
			        		{{cur_ttype_field.3.name}} - {{data.tref_data.field_list.items}}
			        		{% if cur_ttype_field.3.name in data.tref_data.field_list.items  %}
			        		
			        		abcd
			        		{% endif %}-->
			        		{% if cur_ttype_field.1 == 'input' %}
				        		<input class="vTextField" id="id_{{ cur_ttype_field.0 }}"
				        		maxlength="{{ cur_ttype_field.3.max_length }}"
				        		name="{{ cur_ttype_field.3.name }}"
				        		{% if data.submit == True or 'readonly' in cur_ttype_field.3 %}
				        			readonly
			        			{% endif %}
			        			type="{{ cur_ttype_field.3.type }}"
			        			value=
			        			{% for cur_data_key, cur_data_value in data.tref_data.field_list.items  %}
			        			{% if cur_data_key == cur_ttype_field.3.name %}
		        				"{{ cur_data_value }}"
		        				{% endif %}
		        				{% endfor %} />
			        		
			        		{% elif cur_ttype_field.1 == 'select' %}
				        		<select id="id_{{ cur_ttype_field.3.name }}" name="{{ cur_ttype_field.3.name }}">
				        		{% if cur_ttype_field.3.name in data.tref_data.field_list %}
						        	{% for cur_data_key, cur_data_value in data.tref_data.field_list.items  %}
					        			{% if cur_data_key == cur_ttype_field.3.name %}
							        		{% if 'readonly' in cur_ttype_field.3 or data.submit == 'True' %}
							        			<option value="{{ cur_data_value.0 }}" selected>{{ cur_data_value.1 }}</option>
							        		{% elif not data.submit == 'True' %}
								        		{% for cur_select_box in data.select_boxes %}
								        			{% if cur_ttype_field.3.name == cur_select_box.0 %}
								        			{% for cur_opt in cur_select_box.1 %}
								        			<option value="{{ cur_opt.id }}" {% if cur_opt.id == cur_data_value.0 %} selected {% endif %}>{{ cur_opt.name }}</option>
								        			{% endfor %}
								        			{% endif %}
								        		{% endfor %}
								        	{% endif %}
							        	{% endif %}
			        				{% endfor %}
			        			{% else %}
			        				{% for cur_select_box in data.select_boxes %}
					        			{% if cur_ttype_field.3.name == cur_select_box.0 %}
						        			{% for cur_opt in cur_select_box.1 %}
						        			<option value="{{ cur_opt.id }}">{{ cur_opt.name }}</option>
						        			{% endfor %}
					        			{% endif %}
					        		{% endfor %}
			        			{% endif %}
		        				</select>
				        	{% endif %}
			        	</div>
			        {% if forloop.counter|divisibleby:"2" %}
		        	</div>
		        	{% endif %}
	        	{% endfor %}
	        	
	        	</div>
	        	<!-- Transaction Reference Based field codes end here -->
	        	
	        	<!--Additional Links are added here-->
	        	<div>
		    	<div class="form-row field-add_links">
				{% for cur_link in data.add_links %}
		        	{% if forloop.counter == 1 or forloop.counter == 6 %}
		        	<div style="float:left; width:20%">
		        	{% endif %}
		        	<input type="button" name="{{ cur_link.0 }}" value="{{ cur_link.0 }}" onclick="navigate('{{cur_link.1}}')"/>
		        	{% if forloop.counter == 5 or forloop.counter == 10 %}
		        	</div>
		        	{% endif %}
				{% endfor %}
		    	</div>
		    	</div>
		    	<div class="form-row field-redirect">
		    		Redirect Name
		    		<input class="vTextField" id="id_redirect_name" type="text" name="redirect_name" value="{{data.redirect_name}}" readonly/>
		    		Redirect Data
		    		<input class="vTextField" id="id_redirect_data" type="text" name="redirect_data" value="{{data.redirect_data}}" readonly/>
		    		Redirect Status
		    		<input class="vTextField" id="id_redirect_status" type="text" name="redirect_status" value="{{data.redirect_status}}" readonly/>
		    	</div>
		    	
		    <!-- Additional Links End Here -->
	        </fieldset>
	        <div class="submit-row">
			<input type="submit" value="Save" class="default" name="_save" />
			<input type="submit" value="Save and add another" name="_addanother" />
			<input type="submit" value="Save and continue editing" name="_continue" />
			</div>
		
				
		{% if not data.load_inv_jour or data.load_inv_jour == 'False' %}
		<!-- Inventory Journal Table goes here -->
		{% if data.id %}
		<!--<div id="myDiv" class="inline-group" id="inventory_journal_set-group">
		  	<div  class="tabular inline-related last-related"> -->
			<fieldset class="module aligned">
			<div  id="inventory_journal_set-group" style="float:left; width:100%">
				<h2 >Inventory_journals</h2>
				<table stlye="width:100%">
			    	<thead>
				    	<tr>
				    		<th class="required" scope="col" >Sl
					        </th>
					        <th class="required" scope="col" width="500px">
					        Item Master Name
					        </th>
					        {% if data.trule_data.code == 1 %}
					        <th class="required" scope="col">Item Master
					        </th>
					       	{% endif %}
					       	{% if data.trule_data.code == 3 or  data.trule_data.code == 6 %}
				        	<th class="required" scope="col">Debit journal 1
					        </th>
					        <th class="required" scope="col">Balance qty in {{ data.debit_transaction1.name }}
					        </th>
					        {% endif %}
							<th class="required" scope="col">Issue qty
				         	</th>
				         	<th class="required" scope="col"{% if data.transaction_type.1.attrib_list.rate.readonly %} readonly {% endif %} {% if data.transaction_type.1.attrib_list.rate.hidden %} hidden {% endif %}">
				         	{{ data.transaction_type.1.attrib_list.rate.0 }}
				         	</th>
				         	{% if 'discount' in data.transaction_type.1.attrib_list %} 
				         	<th class="required" scope="col"{% if data.transaction_type.1.attrib_list.discount.readonly%} readonly {% endif %}>
				         	Discount
				         	</th>
				         	{% endif %}
				         	{% if 'surcharge' in data.transaction_type.1.attrib_list %}
				         	<th class="required" scope="col"{% if data.transaction_type.1.attrib_list.surcharge.readonly%} readonly {% endif %}>
				         	Surcharge
				         	</th>
				         	{% endif %}
				         	<th class="required" scope="col"{% if data.transaction_type.1.attrib_list.special_rate.readonly %} readonly {% endif %}{% if data.transaction_type.1.attrib_list.special_rate.readonly %} hidden {% endif %}>
				         	Special Rate
				         	</th>
				         	<th class="required" scope="col" {% if data.transaction_type.1.attrib_list.tax.readonly%} readonly {% endif %}{% if data.transaction_type.1.attrib_list.tax.hidden%} hidden {% endif %}>
				         	tax
				         	</th>
				         	<th class="required" scope="col"{% if data.transaction_type.1.attrib_list.value.readonly%} readonly {% endif %}{% if data.transaction_type.1.attrib_list.value.hidden%} hidden {% endif %}>
				         	value
				         	</th>
				         	<th class="required" scope="col">Delete?
				         	</th> 
				     	</tr>
			     	</thead>
					<tbody >
					{% if data.inv_jour %}
					{% for cur_inv_jour in data.inv_jour %}
					{% cycle 'row1' 'row2' as rowcolors silent %}
			     	<tr class="{{ rowcolors }} " id="inventory_journal_set-{{ forloop.counter }}">
				        <td class="field-sl">
				        	{{ forloop.counter }}
				        	<input id="id_inventory_journal_set-{{ forloop.counter }}-id" name="inventory_journal_set-{{ forloop.counter }}-id" type="hidden" value="{{cur_inv_jour.0.id}}" />
				        	<input id="id_inventory_journal_set-{{ forloop.counter }}-transaction_ref" name="inventory_journal_set-{{ forloop.counter }}-transaction_ref" type="hidden" value="{{cur_inv_jour.0.transaction_ref.id}}" />
				        </td>
				        <td><b>{{cur_inv_jour.0.item_master.name}}</b></td>
				        {% if data.trule_data.code == 1 %}
		        	    <td class="form-row row{{ rowcolors }} ">
							<!--<select id="id_inventory_journal_set-{{ forloop.counter }}-item_master" name="inventory_journal_set-{{ forloop.counter }}-item_master" readonly>
								<option value="{{cur_inv_jour.0.item_master.id}}" selected>{{cur_inv_jour.0.item_master.name}}</option>
							</select>-->
							<input id="id_inventory_journal_set-{{ forloop.counter }}-item_master" name="inventory_journal_set-{{ forloop.counter }}-item_master" style="width:60px" type="text" value="{{cur_inv_jour.0.item_master.id}}" readonly />
						</td>
						{% endif %}
						{% if data.trule_data.code == 3 or  data.trule_data.code == 6 %}
						<td class="form-row row{{ rowcolors }} ">
				        	<!--<select id="id_inventory_journal_set-{{ forloop.counter }}-debit_journal1" name="inventory_journal_set-{{ forloop.counter }}-debit_journal1">
								<option value="{{ cur_inv_jour.0.debit_journal1.id }}" selected>{{ cur_inv_jour.0.debit_journal1.name }}</option>
							</select><a href="/admin/journal_mgmt/inventory_journal/add/?_to_field=id" class="add-another" id="add_id_inventory_journal_set-{{ forloop.counter }}-debit_journal1" onclick="return showAddAnotherPopup(this);">-->
							<input id="id_inventory_journal_set-{{ forloop.counter }}-debit_journal1" name="inventory_journal_set-{{ forloop.counter }}-debit_journal1" type="text" style="width:60px" value="{{cur_inv_jour.0.item_master.id}}" readonly />
						</td>
						<td class="form-row row{{ rowcolors }} ">
				        	<input id="id_inventory_journal_set-{{ forloop.counter }}-balance_qty1" readonly name="inventory_journal_set-{{ forloop.counter }}-balance_qty1" step="1" type="number" size="5" style="width:75px" value="{{ cur_inv_jour.0.debit_journal1.balance_qty }}" />
			            </td>
						{% endif %}
						
						<td class="form-row row{{ rowcolors }} ">
		        	        <input id="id_inventory_journal_set-{{ forloop.counter }}-issue_qty" name="inventory_journal_set-{{ forloop.counter }}-issue_qty" step="1" type="number" size="5" style="width:75px" value="{{ cur_inv_jour.0.issue_qty }}" />
		    	        </td>
		    	        
		    	        <td class="form-row row{{ rowcolors }} " {% if data.transaction_type.1.attrib_list.rate.readonly %} readonly {% endif %} {% if data.transaction_type.1.attrib_list.rate.hidden %} hidden {% endif %}>
			         	{{ cur_inv_jour.0.rate }}
			         	</td>
			         	
			         	{% if 'discount' in data.transaction_type.1.attrib_list %}
			         	<td class="form-row row{{ rowcolors }} " {% if 'readonly' in data.transaction_type.1.attrib_list.discount.2 %} readonly {% endif %}{% if data.transaction_type.1.attrib_list.discount.hidden %} hidden {% endif %}>
			         		<input id="id_inventory_journal_set-{{ forloop.counter }}-discount" name="inventory_journal_set-{{ forloop.counter }}-discount" type="number" value="{{ cur_inv_jour.0.discount }}">
			         	</td>
			         	{% endif %}
			         	{% if 'surcharge' in data.transaction_type.1.attrib_list %}
						<td class="form-row row{{ rowcolors }} " {% if 'readonly' in data.transaction_type.1.attrib_list.surcharge.2 %} readonly {% endif %}{% if data.transaction_type.1.attrib_list.surcharge.hidden %} hidden {% endif %}>
			         		<input id="id_inventory_journal_set-{{ forloop.counter }}-surcharge" name="inventory_journal_set-{{ forloop.counter }}-surcharge" type="number" value="{{ cur_inv_jour.0.surcharge }}">
			         	</td>
			         	{% endif %}
			         	
			         	<td class="form-row row{{ rowcolors }} " {% if data.transaction_type.1.attrib_list.special_rate.readonly %} readonly {% endif %}{% if data.transaction_type.1.attrib_list.special_rate.readonly %} hidden {% endif %}>
			         	{{ cur_inv_jour.0.special_rate }}
			         	</td>
			         	
			         	<td class="form-row row{{ rowcolors }} " {% if data.transaction_type.1.attrib_list.tax.readonly %} readonly {% endif %}{% if data.transaction_type.1.attrib_list.tax.hidden%} hidden {% endif %}>
			         		<select id="id_inventory_journal_set-{{ forloop.counter }}-tax_format" name="inventory_journal_set-{{ forloop.counter }}-tax_format">
								{% if data.submit == 'True' %}
								<!--the existing data is picked up from data colomn of inventory_journal cur_inv_jour.1 -> {tax_format:[('tax_format_id','tax_format_name'),{tax_format_data}]}-->
								<option value="{{ cur_inv_jour.1.tax_format.0 }}">{{ cur_inv_jour.1.tax_format.1 }}</option>
								{% else %}
								{% for cur_tax_format in data.tax_format_opt %}
								<option value="{{ cur_tax_format.0.id }}" {% if cur_tax_format.0.id == cur_inv_jour.0.tax_format.id %} selected {% endif %}>{{ cur_tax_format.0.name }}</option>
								{% endfor %}
								{% endif %}
							</select>
			         	</td>
			         	
			         	<td class="form-row row{{ rowcolors }} "{% if data.transaction_type.1.attrib_list.value.readonly %} readonly {% endif %}{% if data.transaction_type.1.attrib_list.value.hidden %} hidden {% endif %}">
			         	{{ cur_inv_jour.0.value }}
			         	</td>
			         	
			         	<td class="form-row row{{ rowcolors }} ">
		    	        <p class="deletelink-box"><a href="/journal_mgmt/inventory_journal/delete/id={{cur_inv_jour.0.id}}" class="deletelink">Delete</a></p>
		    	        </td>
					</tr>
			    	{% endfor %}
			    {% endif %}
		    	</tbody>
				</table>
				<br/>
				</div>	
				</fieldset> 
				
				<fieldset class="module aligned ">
							
				<div class="inline-group" style="float:right; width:50%"> 
			    	<h2>Value Summary</h2>
			    	{% if not data.transaction_type.1.attrib_list.value.hidden %}
			    		<table>
				    		<thead>
					    		<th width="50%" class="required">Description</th>
					    		<th width="50%" class="required">Rate</th>
					    		<th width="50%" class="required">Total</th>
				    		</thead>
				    		<tbody>
				    		{% for cur_val_sum in data.tref_data.value_summary %}
					    		<tr class="form-row row{{ forloop.counter }}">
					    			<td class="required">{{ cur_val_sum.1 }}</td>
					    			<td class="required">{{ cur_val_sum.2 }}</td>
					    			<td class="required" align="right">{{ cur_val_sum.3 }}</td>
					    		</tr>
					    	{% endfor %}
					    	</tbody>
			    		</table>
			    	{% endif %}
		    	</div>
		    	</fieldset>
		    	
		    	
		    	<fieldset class="module aligned ">
				<div>
				<table>
				<thead>
				{% if data.trule_data.code == 1 %}
				<th class="required">Item Group
				</th>
				<th class="required">Item Master
				</th>
				{% endif %}
				{% if data.trule_data.code == 3 or data.trule_data.code == 6 %}
				<th class="required">Debit Journal
				</th>
				<th class="required">Balance Qty
				</th>
				{% endif %}
				<th class="required">Issue Qty
				</th>
				</thead>
				<tbody>
			    	<!--End Inventory Journal Content-->
			    	<!--Add Inventory Journal Row-->
		       		<tr class="add-row">
		       		{% if data.trule_data.code == 1 %}
					<td>
						<select id="id_inventory_journal_set-add-group" name="inventory_journal_set-add-item_group" onchange="item_master_filter()">
							{% for cur_item_group_opt in data.item_group_opt %}
							<option value="{{cur_item_group_opt.id}}" {% if data.sel_item_group.id == cur_item_group_opt.id %} selected {% endif %}>{{cur_item_group_opt.name}}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<select id="id_inventory_journal_set-add-item_master" name="inventory_journal_set-add-item_master" readonly>
							{% for cur_item_master_opt in data.item_master_opt %}
							<option value="{{cur_item_master_opt.id}}">{{cur_item_master_opt.name}}</option>
							{% endfor %}
						</select>
					</td>
					{% endif %}
					{% if data.trule_data.code == 3 or data.trule_data.code == 6 %}
					<td>
			        	<select id="id_inventory_journal_set-add-debit_journal1" name="inventory_journal_set-add-debit_journal1" onclick="update_balance()">
							<option selected>-</option>
							{% for cur_inv_jour_debit1_opt in data.inv_jour_load_list %}
							<option value="{{ cur_inv_jour_debit1_opt.0.id }}">{{ cur_inv_jour_debit1_opt.0.name }}</option>
							{% endfor %}
						</select>
					</td>
					<td class="field-balance_qty1">
			        	<input id="id_inventory_journal_set-add-balance_qty1" readonly="" name="inventory_journal_set-{{ forloop.counter }}-balance_qty1" step="1" type="number" value="{{ cur_inv_jour.0.debit_journal1.balance_qty }}" />
		            </td>
		            {% endif %}
					<td class="field-issue_qty">
	        	        <input id="id_inventory_journal_set-add-issue_qty" name="inventory_journal_set-add-issue_qty" step="1" type="number" value="{{ cur_inv_jour.0.issue_qty }}" />
	    	        </td>
					</tr>
					<!--End Add Invntory Journal row -->
				</tbody>
				</table>
				</div>
			</fieldset>
				<!--<button type="submit" class="button" title="Run the selected action" name="index" value="0">Add Item</button>-->
			<!--</div>
		</div> -->
		<!--Inventory Journal Table Ends here -->
		<div class="submit-row">
			<input style="float:left" type="submit" value="Add Inventory Journal" name="_add_inv_jour" />
		</div>
		{% endif %}	
		
		{% endif %}
		</form>
		<!--Additional Links are added here
    	<div class="form-row field-add_links">
		{% for cur_link in data.add_links %}
        	{% if forloop.counter == 1 or forloop.counter == 6 %}
        	<div class="form-row field-{{cur_ttype_field.0}}">
        	{% endif %}
        	<input type="submit" name="{{ cur_link.0 }}" value="{{ cur_link.0 }}" onclick="navigate('{{cur_link.1}}')">abcd</input>
        	{{cur_link.1}}
        	{% if forloop.counter == 5 or forloop.counter == 10 %}
        	</div>
        	{% endif %}
		{% endfor %}
    	</div>-->
	    <!-- Additional Links End Here -->
		{% if data.load_inv_jour == 'True' %}
		<form enctype="multipart/form-data" action="{% url 'journal_mgmt:inv_jour_bulk_create' %}" method="post" id="transaction_ref_form" novalidate>
        <input type='hidden' name='csrfmiddlewaretoken' value='alaLLRkqN3XslnvZCPy6I5zN3PC5nqFB' />
		{% csrf_token %}
		<div class="form-row field-ref_no">
			<div class="inline-group" id="inventory_journal_set-group">
				<div class="tabular inline-related last-related">
					<div class="form-row field-id">
						<div hidden>
							<label class="required" for="id_pk">ID:</label>
		                    <input class="vIntegerField" id="id_pk" name="pk" readonly type="text" value={{data.id}} />
						</div>
					</div>
					<div><!-- DIV needed for valid HTML -->
					<fieldset class="module">
						<h2>Parent Inventory Journals</h2>
						<table>
							<thead>
								<tr>
									<th class="required">Sl</th>
									<th class="required">Item</th>
									<th class="required">Available Qty</th>
									<th class="required">Qty to Issue</th>
								</tr>
							</thead>
							<tbody>
							{% for parent_inv_jour in data.inv_jour_load_list %}
								{% cycle 'row1' 'row2' as rowcolors silent %}
								<tr class="{{ rowcolors }}" id="add_inventory_journal_set-{{ forloop.counter }}">
									<td class="form-row row{{ rowcolors }}">
						        	{{ forloop.counter }}
						        	<input id="id_inventory_journal_set-{{ forloop.counter }}-id" name="add_inventory_journal_set-{{ forloop.counter }}-id" type="hidden" value="{{cur_inv_jour.0.id}}" />
						        	<input id="id_inventory_journal_set-{{ forloop.counter }}-transaction_ref" name="add_inventory_journal_set-{{ forloop.counter }}-transaction_ref" type="hidden" value="{{cur_inv_jour.0.transaction_ref.id}}" />
						        	</td>
									<td class="form-row row{{ rowcolors }}">
										<select id="id_inventory_journal_set-{{ forloop.counter }}-debit_journal1" name="add_inventory_journal_set-{{ forloop.counter }}-debit_journal1">
											<option value="{{ parent_inv_jour.0.id }}" selected>{{ parent_inv_jour.0.name }}</option>
										</select>
									</td>
									<td class="form-row row{{ rowcolors }}">
										<input id="id_inventory_journal_set-{{ forloop.counter }}-balance_qty" name="add_inventory_journal_set-{{ forloop.counter }}-balance_qty" type="text" readonly value="{{ parent_inv_jour.0.balance_qty }}"/>
									</td>
									<td class="form-row row{{ rowcolors }}">
										<input id="id_inventory_journal_set-{{ forloop.counter }}-issue_qty" name="add_inventory_journal_set-{{ forloop.counter }}-issue_qty" type="text" value="{{ parent_inv_jour.0.balance_qty }}"/>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</fieldset>
					</div>
				</div>
			</div>
		
			<div class="submit-row">
				<input type="submit" value="Add list" class="default" name="_bulk_create" />
			</div>	
			
		</div>
		</div>
		</form>
		{% endif %}
		
		{% if not data.inv_jour and data.id %}
		<form id="changelist-search" action="" method="get">
			{% if not data.load_inv_jour or data.load_inv_jour == 'False' %}
			<button type="submit" name="load" value="True">Auto Load Items</button>
			{% endif %}
		{% endif %}
		{% if data.load_inv_jour == 'True' %}
		<button type="submit" name="load" value="False">Cancel Load</button>
		</form>
		{% endif %}
		
	</div>
</div>
{% endblock %}
</body>

#